In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
ggacpc = "../../1_Extract/UGA-Great_GA_Pollinator_Count_2019/2019_GGaPC.csv"

In [3]:
## Read data and store into df
ggacpc = pd.read_csv(ggacpc)
ggacpc

,Unnamed: 0,Carpenter,Bumble,Honey,Small,Wasps,Flies,Butterflies,Other,#Insects,#Counts
0,Appling,127.0,230.0,162.0,296.0,251.0,317.0,362.0,453.0,2198.0,93.0
1,Bacon,0.0,0.0,1.0,0.0,7.0,0.0,47.0,7.0,62.0,2.0
2,Baker,1.0,1.0,1.0,12.0,4.0,12.0,158.0,7.0,196.0,5.0
3,Baldwin,3.0,56.0,1.0,22.0,52.0,74.0,91.0,23.0,322.0,16.0
4,Banks,0.0,7.0,0.0,3.0,0.0,0.0,19.0,0.0,29.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
132,Wilkes,2.0,3.0,1.0,28.0,24.0,48.0,32.0,11.0,149.0,26.0
133,Worth,4.0,14.0,9.0,131.0,32.0,14.0,83.0,28.0,315.0,9.0
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,"Griffin, B., LaTora, A.G., Bhattarai, U., & Br...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
## Rename columns
ggacpc.columns = ggacpc.columns.str.lower()
ggacpc = ggacpc.rename(columns ={
    "unnamed: 0": "county",
    "#insects": "insects",
    "#counts": "num_participants"
})

## Drop blank rows
ggacpc = ggacpc.dropna()
ggacpc

,county,carpenter,bumble,honey,small,wasps,flies,butterflies,other,insects,num_participants
0,Appling,127.0,230.0,162.0,296.0,251.0,317.0,362.0,453.0,2198.0,93.0
1,Bacon,0.0,0.0,1.0,0.0,7.0,0.0,47.0,7.0,62.0,2.0
2,Baker,1.0,1.0,1.0,12.0,4.0,12.0,158.0,7.0,196.0,5.0
3,Baldwin,3.0,56.0,1.0,22.0,52.0,74.0,91.0,23.0,322.0,16.0
4,Banks,0.0,7.0,0.0,3.0,0.0,0.0,19.0,0.0,29.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
129,White,5.0,20.0,18.0,58.0,40.0,14.0,27.0,27.0,209.0,10.0
130,Whitfield,0.0,2.0,2.0,6.0,1.0,10.0,12.0,4.0,37.0,4.0
131,Wilcox,9.0,2.0,0.0,11.0,12.0,10.0,25.0,31.0,100.0,7.0
132,Wilkes,2.0,3.0,1.0,28.0,24.0,48.0,32.0,11.0,149.0,26.0
133,Worth,4.0,14.0,9.0,131.0,32.0,14.0,83.0,28.0,315.0,9.0

In [5]:
ggacpc.to_csv("../ggacpc_19.csv", index = False)