In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn import preprocessing
from sklearn import utils
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [2]:
honey = "../2_Transform/hp_prod_19.csv"
df1 = pd.read_csv(honey)
df1.head()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42.0,294,44,3.38,994
1,Arizona,23,46.0,1058,201,2.04,2158
2,Arkansas,20,55.0,1100,176,1.65,1815
3,California,335,48.0,16080,3216,1.60,25728
4,Colorado,32,46.0,1472,500,2.34,3444

In [3]:
df1 = df1[df1['state']!='United States']
df1.tail()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
36,Washington,81,35.0,2835,1191,2.18,6180
37,West Virginia,6,37.0,222,47,4.26,946
38,Wisconsin,46,47.0,2162,692,3.00,6486
39,Wyoming,39,56.0,2184,306,1.43,3123
40,Other States,30,47.0,1418,351,4.65,6594

In [4]:
X = df1[['max_h_prod_cny', 'prod(1000_lbs)', 'prod_held_stocks', 'value_prod(1000_dollars)']]
y = df1['yield/cny'].astype(int)
print(X.shape, y.shape)

(41, 4) (41,)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

In [6]:
# X_scaler = StandardScaler().fit(X_train)
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

In [7]:
classifier = LogisticRegression(max_iter = 10000)
classifier

LogisticRegression(max_iter=10000)

In [8]:
lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y_train)
#print(y_test)

In [9]:
classifier.fit(X_train, y_train)

C:\Users\Johne\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=10000)

In [10]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9333333333333333
Testing Data Score: 0.0

In [11]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [65 39 47 46 47 29 55 39 67 29]
First 10 Actual labels: [86, 28, 42, 48, 58, 33, 46, 47, 50, 45]

In [12]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0           65      86
1           39      28
2           47      42
3           46      48
4           47      58
5           29      33
6           55      46
7           39      47
8           67      50
9           29      45
10          43      42