In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn import preprocessing
from sklearn import utils
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
from sklearn.datasets import make_regression

In [2]:
honey = "../2_Transform/hp_prod_19.csv"
df1 = pd.read_csv(honey)
df1.head()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42.0,294,44,3.38,994
1,Arizona,23,46.0,1058,201,2.04,2158
2,Arkansas,20,55.0,1100,176,1.65,1815
3,California,335,48.0,16080,3216,1.60,25728
4,Colorado,32,46.0,1472,500,2.34,3444

In [3]:
df1 = df1[df1['state']!='United States']
# df1 = df1[df1['state']!='Other States']
df1.head()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42.0,294,44,3.38,994
1,Arizona,23,46.0,1058,201,2.04,2158
2,Arkansas,20,55.0,1100,176,1.65,1815
3,California,335,48.0,16080,3216,1.60,25728
4,Colorado,32,46.0,1472,500,2.34,3444

In [4]:
# remove conneticut maryland mass oklahoma new mex
q1 = "../2_Transform/USDA-HB_colony_Health_2019/hbcny_stress_19q1.csv"
stress1 = pd.read_csv(q1)
stress1 = stress1[stress1['state']!='Connecticut']
stress1 = stress1[stress1['state']!='Maryland']
stress1 = stress1[stress1['state']!='Massachusetts']
stress1 = stress1[stress1['state']!='Oklahoma']
stress1 = stress1[stress1['state']!='New Mexico']
stress1 = stress1[stress1['state']!='United States']
stress1.head()

        state  v_mites  other_pest_para  diseases  pesticides  other  unknown
0     Alabama     27.2             22.7       1.8         0.3    3.1      9.0
1     Arizona     25.8              7.9       6.5        16.2    8.4      0.2
2    Arkansas     19.5              1.5       3.3        55.3    0.7      2.9
3  California     43.5             13.4       6.4        12.3    8.7      5.6
4    Colorado     11.2              0.3       NaN         NaN    2.5      0.6

In [5]:
q3 = "../2_Transform/USDA-HB_colony_Health_2019/hbcny_stress_19q3.csv"
stress3 = pd.read_csv(q1)
stress3 = stress1[stress1['state']!='Connecticut']
stress3 = stress1[stress1['state']!='Maryland']
stress3 = stress1[stress1['state']!='Massachusetts']
stress3 = stress1[stress1['state']!='Oklahoma']
stress3 = stress1[stress1['state']!='New Mexico']
stress3 = stress1[stress1['state']!='United States']
stress3.head()

        state  v_mites  other_pest_para  diseases  pesticides  other  unknown
0     Alabama     27.2             22.7       1.8         0.3    3.1      9.0
1     Arizona     25.8              7.9       6.5        16.2    8.4      0.2
2    Arkansas     19.5              1.5       3.3        55.3    0.7      2.9
3  California     43.5             13.4       6.4        12.3    8.7      5.6
4    Colorado     11.2              0.3       NaN         NaN    2.5      0.6

In [6]:
q4 = "../2_Transform/USDA-HB_colony_Health_2019/hbcny_stress_19q4.csv"
stress4 = pd.read_csv(q1)
stress4 = stress1[stress1['state']!='Connecticut']
stress4 = stress1[stress1['state']!='Maryland']
stress4 = stress1[stress1['state']!='Massachusetts']
stress4 = stress1[stress1['state']!='Oklahoma']
stress4 = stress1[stress1['state']!='New Mexico']
stress4 = stress1[stress1['state']!='United States']
stress4.head()

        state  v_mites  other_pest_para  diseases  pesticides  other  unknown
0     Alabama     27.2             22.7       1.8         0.3    3.1      9.0
1     Arizona     25.8              7.9       6.5        16.2    8.4      0.2
2    Arkansas     19.5              1.5       3.3        55.3    0.7      2.9
3  California     43.5             13.4       6.4        12.3    8.7      5.6
4    Colorado     11.2              0.3       NaN         NaN    2.5      0.6

In [7]:
#merge stress 
stressM = stress1.merge(stress3, left_on='state', right_on='state',
          suffixes=('_q1', '_q3'))
stressM2 = stressM.merge(stress4, left_on='state', right_on='state',
          suffixes=('M', '_q4'))
df2 = stressM2.merge(df1, left_on='state', right_on='state',
          suffixes=('M', '_honey'))
df2 = df2.dropna()
df2.head()

,state,v_mites_q1,other_pest_para_q1,diseases_q1,pesticides_q1,other_q1,unknown_q1,v_mites_q3,other_pest_para_q3,diseases_q3,...,diseases,pesticides,other,unknown,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,27.2,22.7,1.8,0.3,3.1,9.0,27.2,22.7,1.8,...,1.8,0.3,3.1,9.0,7,42.0,294,44,3.38,994
1,Arizona,25.8,7.9,6.5,16.2,8.4,0.2,25.8,7.9,6.5,...,6.5,16.2,8.4,0.2,23,46.0,1058,201,2.04,2158
2,Arkansas,19.5,1.5,3.3,55.3,0.7,2.9,19.5,1.5,3.3,...,3.3,55.3,0.7,2.9,20,55.0,1100,176,1.65,1815
3,California,43.5,13.4,6.4,12.3,8.7,5.6,43.5,13.4,6.4,...,6.4,12.3,8.7,5.6,335,48.0,16080,3216,1.60,25728
5,Florida,46.9,24.8,5.5,22.9,7.4,5.5,46.9,24.8,5.5,...,5.5,22.9,7.4,5.5,205,45.0,9225,830,2.46,22694

In [8]:
X = df2[['max_h_prod_cny','prod_held_stocks', 'v_mites_q1', 'other_pest_para_q1', 'diseases_q1',
       'pesticides_q1', 'other_q1', 'unknown_q1']].astype(int)
y = df2['yield/cny'].astype(int)
feature_names = X
print(X.shape, y.shape)
#'v_mites_q3',
       # 'other_pest_para_q3', 'diseases_q3', 'pesticides_q3', 'other_q3',
       # 'unknown_q3', 'v_mites', 'other_pest_para', 'diseases', 'pesticides',
       # 'other', 'unknown'

(29, 8) (29,)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
regr = make_pipeline(StandardScaler(),LinearSVR(random_state=23, tol=1e-5))
regr.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvr', LinearSVR(random_state=23, tol=1e-05))])

In [11]:
print(regr.named_steps['linearsvr'].coef_)

[-7.77156117e-16 -4.44089210e-16 -6.80011603e-16  6.24500451e-16
 -1.16681838e-15 -4.19803081e-16 -2.32452946e-16  9.85322934e-16]

In [12]:
print(regr.named_steps['linearsvr'].intercept_)

[29.]

In [13]:
print(regr.predict([[0,0,0,0,0,0,0,0]]))

[29.]

In [14]:
print(regr.score(X,y))

-2.6176518111577898