In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
# from sklearn import preprocessing
# from sklearn import utils
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
# from sklearn.datasets import make_regression

In [2]:
honey = "../2_Transform/hp_prod_19.csv"
df1 = pd.read_csv(honey)
df1.head()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42.0,294,44,3.38,994
1,Arizona,23,46.0,1058,201,2.04,2158
2,Arkansas,20,55.0,1100,176,1.65,1815
3,California,335,48.0,16080,3216,1.60,25728
4,Colorado,32,46.0,1472,500,2.34,3444

In [3]:
df1 = df1[df1['state']!='United States']
# df1 = df1[df1['state']!='Other States']
df1.head()

,state,max_h_prod_cny,yield/cny,prod(1000_lbs),prod_held_stocks,avg_price/lb(1_dollar),value_prod(1000_dollars)
0,Alabama,7,42.0,294,44,3.38,994
1,Arizona,23,46.0,1058,201,2.04,2158
2,Arkansas,20,55.0,1100,176,1.65,1815
3,California,335,48.0,16080,3216,1.60,25728
4,Colorado,32,46.0,1472,500,2.34,3444

In [4]:
X = df1[['max_h_prod_cny','prod_held_stocks']]
y = df1['yield/cny'].astype(int)
feature_names = X
print(X.shape, y.shape)

(41, 2) (41,)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [6]:
regr = make_pipeline(StandardScaler(),LinearSVR(random_state=23, tol=1e-5))
regr.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvr', LinearSVR(random_state=23, tol=1e-05))])

In [7]:
print(regr.named_steps['linearsvr'].coef_)

[1.14549817 2.21096316]

In [10]:
print(regr.predict([[input(),input()]]))
# margin of error is 10

[31.894789]

In [9]:
print(regr.score(X,y))

-1.3785437127007492