In [13]:
## Dependencies and setup
import pandas as pd

In [14]:
## Load data files
hbcny_s_19q2 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_stress_2019_q2_t013.csv"

In [15]:
## Read data and store into df
## Drop the first 4 rows which hold info text
hbcny_s_19q2 = pd.read_csv(hbcny_s_19q2, skiprows=4)
hbcny_s_19q2.head()

,13,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,13,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,13,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,13,d,Alabama,(NA),(NA),(NA),(NA),(NA),(NA)
4,13,d,Arizona,(NA),(NA),(NA),(NA),(NA),(NA)

In [16]:
hbcny_s_19q2 = pd.DataFrame(hbcny_s_19q2)
hbcny_s_19q2

,13,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,13,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,13,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,13,d,Alabama,(NA),(NA),(NA),(NA),(NA),(NA)
4,13,d,Arizona,(NA),(NA),(NA),(NA),(NA),(NA)
...,...,...,...,...,...,...,...,...,...
58,13,f,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
59,13,f,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
60,13,f,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
61,13,f,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN
62,13,f,5/ Data collection for July 2019 quarterly hon...,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
## Drop erroneous first 2 columns
hbcny_s_19q2.drop(hbcny_s_19q2.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_s_19q2.drop(hbcny_s_19q2.index[57:63])
hbcny_s_19q2.head()

,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,Alabama,(NA),(NA),(NA),(NA),(NA),(NA)
4,Arizona,(NA),(NA),(NA),(NA),(NA),(NA)

In [18]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_s_19q2 = hbcny_s_19q2.rename(columns={
    "Unnamed: 2": "state",
    "Varroa": "v_mites",
    "Other pests": "other_pest_para",
    "Unnamed: 5": "diseases",
    "Unnamed: 6": "pesticides",
    "Unnamed: 7": "other",
    "Unnamed: 8": "unknown"})

hbcny_s_19q2 = hbcny_s_19q2.drop(range(3))

hbcny_s_19q2

,state,v_mites,other_pest_para,diseases,pesticides,other,unknown
3,Alabama,(NA),(NA),(NA),(NA),(NA),(NA)
4,Arizona,(NA),(NA),(NA),(NA),(NA),(NA)
5,Arkansas,(NA),(NA),(NA),(NA),(NA),(NA)
6,California,(NA),(NA),(NA),(NA),(NA),(NA)
7,Colorado,(NA),(NA),(NA),(NA),(NA),(NA)
8,Connecticut,(NA),(NA),(NA),(NA),(NA),(NA)
9,Florida,(NA),(NA),(NA),(NA),(NA),(NA)
10,Georgia,(NA),(NA),(NA),(NA),(NA),(NA)
11,Hawaii,(NA),(NA),(NA),(NA),(NA),(NA)
12,Idaho,(NA),(NA),(NA),(NA),(NA),(NA)
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,(NA),(NA),(NA),(NA),(NA),(NA)
15,Indiana,(NA),(NA),(NA),(NA),(NA),(NA)
16,Iowa,(NA),(NA),(NA),(NA),(NA),(NA)
17,Kansas,(NA),(NA),(NA),(NA),(NA),(NA)
18,Kentucky,(NA),(NA),(NA),(NA),(NA),(NA)
19,Louisiana,(NA),(NA),(NA),(NA),(NA),(NA)
20,Maine,(NA),(NA),(NA),(NA),(NA),(NA)
21,Maryland,(NA),(NA),(NA),(NA),(NA),(NA)
22,Massachusetts,(NA),(NA),(NA),(NA),(NA),(NA)
23,Michigan,(NA),(NA),(NA),(NA),(NA),(NA)
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Minnesota,(NA),(NA),(NA),(NA),(NA),(NA)
26,Mississippi,(NA),(NA),(NA),(NA),(NA),(NA)
27,Missouri,(NA),(NA),(NA),(NA),(NA),(NA)
28,Montana,(NA),(NA),(NA),(NA),(NA),(NA)
29,Nebraska,(NA),(NA),(NA),(NA),(NA),(NA)
30,New Jersey,(NA),(NA),(NA),(NA),(NA),(NA)
31,New Mexico,(NA),(NA),(NA),(NA),(NA),(NA)
32,New York,(NA),(NA),(NA),(NA),(NA),(NA)
33,North Carolina,(NA),(NA),(NA),(NA),(NA),(NA)
34,North Dakota,(NA),(NA),(NA),(NA),(NA),(NA)
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Ohio,(NA),(NA),(NA),(NA),(NA),(NA)
37,Oklahoma,(NA),(NA),(NA),(NA),(NA),(NA)
38,Oregon,(NA),(NA),(NA),(NA),(NA),(NA)
39,Pennsylvania,(NA),(NA),(NA),(NA),(NA),(NA)
40,South Carolina,(NA),(NA),(NA),(NA),(NA),(NA)
41,South Dakota,(NA),(NA),(NA),(NA),(NA),(NA)
42,Tennessee,(NA),(NA),(NA),(NA),(NA),(NA)
43,Texas,(NA),(NA),(NA),(NA),(NA),(NA)
44,Utah,(NA),(NA),(NA),(NA),(NA),(NA)
45,Vermont,(NA),(NA),(NA),(NA),(NA),(NA)
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Virginia,(NA),(NA),(NA),(NA),(NA),(NA)
48,Washington,(NA),(NA),(NA),(NA),(NA),(NA)
49,West Virginia,(NA),(NA),(NA),(NA),(NA),(NA)
50,Wisconsin,(NA),(NA),(NA),(NA),(NA),(NA)
51,Wyoming,(NA),(NA),(NA),(NA),(NA),(NA)
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Other States 4/,(NA),(NA),(NA),(NA),(NA),(NA)
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,United States,(NA),(NA),(NA),(NA),(NA),(NA)
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,(NA) Not available.,NaN,NaN,NaN,NaN,NaN,NaN
58,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
59,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
60,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
61,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN
62,5/ Data collection for July 2019 quarterly hon...,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
## Drop blank rows
hbcny_s_19q2 = hbcny_s_19q2.dropna()
hbcny_s_19q2.tail()

              state v_mites other_pest_para diseases pesticides other unknown
49    West Virginia    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
50        Wisconsin    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
51          Wyoming    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
53  Other States 4/    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
55    United States    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)

In [20]:
## Rename cell 
hbcny_s_19q2.loc[53, "state"] = "Other States"
hbcny_s_19q2.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-20-1e78e848f52e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_s_19q2.loc[53, "state"] = "Other States"

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
50      Wisconsin    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
51        Wyoming    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
53   Other States    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
55  United States    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)

In [21]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_s_19q2 = hbcny_s_19q2.replace("(Z)", 0)
hbcny_s_19q2.tail()

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
50      Wisconsin    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
51        Wyoming    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
53   Other States    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)
55  United States    (NA)            (NA)     (NA)       (NA)  (NA)    (NA)

In [22]:
## (X) defined as: N/A
## Assume "-" equals None
## Replace "-" and (X) values with None
hbcny_s_19q2 = hbcny_s_19q2.replace({'-': None})
hbcny_s_19q2 = hbcny_s_19q2.replace({'(NA)': None})
hbcny_s_19q2 = hbcny_s_19q2.replace({'(X)': None})
hbcny_s_19q2

             state v_mites other_pest_para diseases pesticides other unknown
3          Alabama    None            None     None       None  None    None
4          Arizona    None            None     None       None  None    None
5         Arkansas    None            None     None       None  None    None
6       California    None            None     None       None  None    None
7         Colorado    None            None     None       None  None    None
8      Connecticut    None            None     None       None  None    None
9          Florida    None            None     None       None  None    None
10         Georgia    None            None     None       None  None    None
11          Hawaii    None            None     None       None  None    None
12           Idaho    None            None     None       None  None    None
14        Illinois    None            None     None       None  None    None
15         Indiana    None            None     None       None  None    None
16            Iowa    None            None     None       None  None    None
17          Kansas    None            None     None       None  None    None
18        Kentucky    None            None     None       None  None    None
19       Louisiana    None            None     None       None  None    None
20           Maine    None            None     None       None  None    None
21        Maryland    None            None     None       None  None    None
22   Massachusetts    None            None     None       None  None    None
23        Michigan    None            None     None       None  None    None
25       Minnesota    None            None     None       None  None    None
26     Mississippi    None            None     None       None  None    None
27        Missouri    None            None     None       None  None    None
28         Montana    None            None     None       None  None    None
29        Nebraska    None            None     None       None  None    None
30      New Jersey    None            None     None       None  None    None
31      New Mexico    None            None     None       None  None    None
32        New York    None            None     None       None  None    None
33  North Carolina    None            None     None       None  None    None
34    North Dakota    None            None     None       None  None    None
36            Ohio    None            None     None       None  None    None
37        Oklahoma    None            None     None       None  None    None
38          Oregon    None            None     None       None  None    None
39    Pennsylvania    None            None     None       None  None    None
40  South Carolina    None            None     None       None  None    None
41    South Dakota    None            None     None       None  None    None
42       Tennessee    None            None     None       None  None    None
43           Texas    None            None     None       None  None    None
44            Utah    None            None     None       None  None    None
45         Vermont    None            None     None       None  None    None
47        Virginia    None            None     None       None  None    None
48      Washington    None            None     None       None  None    None
49   West Virginia    None            None     None       None  None    None
50       Wisconsin    None            None     None       None  None    None
51         Wyoming    None            None     None       None  None    None
53    Other States    None            None     None       None  None    None
55   United States    None            None     None       None  None    None

In [23]:
## Reset the index
hbcny_s_19q2 = hbcny_s_19q2.reset_index(drop = True)
hbcny_s_19q2

             state v_mites other_pest_para diseases pesticides other unknown
0          Alabama    None            None     None       None  None    None
1          Arizona    None            None     None       None  None    None
2         Arkansas    None            None     None       None  None    None
3       California    None            None     None       None  None    None
4         Colorado    None            None     None       None  None    None
5      Connecticut    None            None     None       None  None    None
6          Florida    None            None     None       None  None    None
7          Georgia    None            None     None       None  None    None
8           Hawaii    None            None     None       None  None    None
9            Idaho    None            None     None       None  None    None
10        Illinois    None            None     None       None  None    None
11         Indiana    None            None     None       None  None    None
12            Iowa    None            None     None       None  None    None
13          Kansas    None            None     None       None  None    None
14        Kentucky    None            None     None       None  None    None
15       Louisiana    None            None     None       None  None    None
16           Maine    None            None     None       None  None    None
17        Maryland    None            None     None       None  None    None
18   Massachusetts    None            None     None       None  None    None
19        Michigan    None            None     None       None  None    None
20       Minnesota    None            None     None       None  None    None
21     Mississippi    None            None     None       None  None    None
22        Missouri    None            None     None       None  None    None
23         Montana    None            None     None       None  None    None
24        Nebraska    None            None     None       None  None    None
25      New Jersey    None            None     None       None  None    None
26      New Mexico    None            None     None       None  None    None
27        New York    None            None     None       None  None    None
28  North Carolina    None            None     None       None  None    None
29    North Dakota    None            None     None       None  None    None
30            Ohio    None            None     None       None  None    None
31        Oklahoma    None            None     None       None  None    None
32          Oregon    None            None     None       None  None    None
33    Pennsylvania    None            None     None       None  None    None
34  South Carolina    None            None     None       None  None    None
35    South Dakota    None            None     None       None  None    None
36       Tennessee    None            None     None       None  None    None
37           Texas    None            None     None       None  None    None
38            Utah    None            None     None       None  None    None
39         Vermont    None            None     None       None  None    None
40        Virginia    None            None     None       None  None    None
41      Washington    None            None     None       None  None    None
42   West Virginia    None            None     None       None  None    None
43       Wisconsin    None            None     None       None  None    None
44         Wyoming    None            None     None       None  None    None
45    Other States    None            None     None       None  None    None
46   United States    None            None     None       None  None    None

In [24]:
hbcny_s_19q2.to_csv("hbcny_stress_19q2.csv", index=False)