In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
hbcny_h_19q2 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_+-_2019_q2_t001.csv"

In [3]:
## Read data and store into df
## Drop the first 5 rows which hold info text
hbcny_h_19q2 = pd.read_csv(hbcny_h_19q2, skiprows=4)

In [4]:
hbcny_h_19q2

,1,h,State,April 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,h,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,1,h,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,1,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,u,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,1,d,Alabama,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
...,...,...,...,...,...,...,...,...,...,...
60,1,f,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1,f,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,1,f,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,1,f,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,1,f,6/ Data collection for July 2019 quarterly hon...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## Drop erroneous first 2 columns
hbcny_h_19q2.drop(hbcny_h_19q2.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_h_19q2.drop(hbcny_h_19q2.index[56:66])

hbcny_h_19q2.head()

,State,April 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,Alabama,(NA),(NA),(NA),(NA),(NA),(NA),(NA)

In [6]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_h_19q2 = hbcny_h_19q2.rename(columns={
    "State": "state",
    "April 1": "num_cny_on_day1_qtr",
    "Unnamed: 4": "max_cny",
    "Unnamed: 5": "lost_cny",
    "Unnamed: 6": "pct_lost",
    "Unnamed: 7": "added_cny",
    "Unnamed: 8": "renovated_cny",
    "Unnamed: 9": "pct_renovated"})

hbcny_h_19q2 = hbcny_h_19q2.drop(range(4))

hbcny_h_19q2

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
5,Arizona,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
6,Arkansas,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
7,California,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
8,Colorado,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
...,...,...,...,...,...,...,...,...
60,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,6/ Data collection for July 2019 quarterly hon...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Drop blank rows
hbcny_h_19q2 = hbcny_h_19q2.dropna()
hbcny_h_19q2.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
51,Wisconsin,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
52,Wyoming,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
54,Other States 5/,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
56,United States,(NA),(NA),(NA),(NA),(NA),(NA),(NA)

In [8]:
## Rename cell 
hbcny_h_19q2.loc[54, "state"] = "Other States"
hbcny_h_19q2.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-390df0e5ac47>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_h_19q2.loc[54, "state"] = "Other States"

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
51,Wisconsin,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
52,Wyoming,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
54,Other States,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
56,United States,(NA),(NA),(NA),(NA),(NA),(NA),(NA)

In [9]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_h_19q2 = hbcny_h_19q2.replace("(Z)", 0)
hbcny_h_19q2.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
51,Wisconsin,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
52,Wyoming,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
54,Other States,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
56,United States,(NA),(NA),(NA),(NA),(NA),(NA),(NA)

In [10]:
## Assume "-" equals None
## Replace "-" values with None
hbcny_h_19q2 = hbcny_h_19q2.replace({"(NA)": None})
hbcny_h_19q2

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,None,None,None,None,None,None,None
5,Arizona,None,None,None,None,None,None,None
6,Arkansas,None,None,None,None,None,None,None
7,California,None,None,None,None,None,None,None
8,Colorado,None,None,None,None,None,None,None
9,Connecticut,None,None,None,None,None,None,None
10,Florida,None,None,None,None,None,None,None
11,Georgia,None,None,None,None,None,None,None
12,Hawaii,None,None,None,None,None,None,None
13,Idaho,None,None,None,None,None,None,None
15,Illinois,None,None,None,None,None,None,None
16,Indiana,None,None,None,None,None,None,None
17,Iowa,None,None,None,None,None,None,None
18,Kansas,None,None,None,None,None,None,None
19,Kentucky,None,None,None,None,None,None,None
20,Louisiana,None,None,None,None,None,None,None
21,Maine,None,None,None,None,None,None,None
22,Maryland,None,None,None,None,None,None,None
23,Massachusetts,None,None,None,None,None,None,None
24,Michigan,None,None,None,None,None,None,None
26,Minnesota,None,None,None,None,None,None,None
27,Mississippi,None,None,None,None,None,None,None
28,Missouri,None,None,None,None,None,None,None
29,Montana,None,None,None,None,None,None,None
30,Nebraska,None,None,None,None,None,None,None
31,New Jersey,None,None,None,None,None,None,None
32,New Mexico,None,None,None,None,None,None,None
33,New York,None,None,None,None,None,None,None
34,North Carolina,None,None,None,None,None,None,None
35,North Dakota,None,None,None,None,None,None,None
37,Ohio,None,None,None,None,None,None,None
38,Oklahoma,None,None,None,None,None,None,None
39,Oregon,None,None,None,None,None,None,None
40,Pennsylvania,None,None,None,None,None,None,None
41,South Carolina,None,None,None,None,None,None,None
42,South Dakota,None,None,None,None,None,None,None
43,Tennessee,None,None,None,None,None,None,None
44,Texas,None,None,None,None,None,None,None
45,Utah,None,None,None,None,None,None,None
46,Vermont,None,None,None,None,None,None,None
48,Virginia,None,None,None,None,None,None,None
49,Washington,None,None,None,None,None,None,None
50,West Virginia,None,None,None,None,None,None,None
51,Wisconsin,None,None,None,None,None,None,None
52,Wyoming,None,None,None,None,None,None,None
54,Other States,None,None,None,None,None,None,None
56,United States,None,None,None,None,None,None,None

In [11]:
## Reset the index
hbcny_h_19q2 = hbcny_h_19q2.reset_index(drop = True)
hbcny_h_19q2

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
0,Alabama,None,None,None,None,None,None,None
1,Arizona,None,None,None,None,None,None,None
2,Arkansas,None,None,None,None,None,None,None
3,California,None,None,None,None,None,None,None
4,Colorado,None,None,None,None,None,None,None
5,Connecticut,None,None,None,None,None,None,None
6,Florida,None,None,None,None,None,None,None
7,Georgia,None,None,None,None,None,None,None
8,Hawaii,None,None,None,None,None,None,None
9,Idaho,None,None,None,None,None,None,None
10,Illinois,None,None,None,None,None,None,None
11,Indiana,None,None,None,None,None,None,None
12,Iowa,None,None,None,None,None,None,None
13,Kansas,None,None,None,None,None,None,None
14,Kentucky,None,None,None,None,None,None,None
15,Louisiana,None,None,None,None,None,None,None
16,Maine,None,None,None,None,None,None,None
17,Maryland,None,None,None,None,None,None,None
18,Massachusetts,None,None,None,None,None,None,None
19,Michigan,None,None,None,None,None,None,None
20,Minnesota,None,None,None,None,None,None,None
21,Mississippi,None,None,None,None,None,None,None
22,Missouri,None,None,None,None,None,None,None
23,Montana,None,None,None,None,None,None,None
24,Nebraska,None,None,None,None,None,None,None
25,New Jersey,None,None,None,None,None,None,None
26,New Mexico,None,None,None,None,None,None,None
27,New York,None,None,None,None,None,None,None
28,North Carolina,None,None,None,None,None,None,None
29,North Dakota,None,None,None,None,None,None,None
30,Ohio,None,None,None,None,None,None,None
31,Oklahoma,None,None,None,None,None,None,None
32,Oregon,None,None,None,None,None,None,None
33,Pennsylvania,None,None,None,None,None,None,None
34,South Carolina,None,None,None,None,None,None,None
35,South Dakota,None,None,None,None,None,None,None
36,Tennessee,None,None,None,None,None,None,None
37,Texas,None,None,None,None,None,None,None
38,Utah,None,None,None,None,None,None,None
39,Vermont,None,None,None,None,None,None,None
40,Virginia,None,None,None,None,None,None,None
41,Washington,None,None,None,None,None,None,None
42,West Virginia,None,None,None,None,None,None,None
43,Wisconsin,None,None,None,None,None,None,None
44,Wyoming,None,None,None,None,None,None,None
45,Other States,None,None,None,None,None,None,None
46,United States,None,None,None,None,None,None,None

In [12]:
hbcny_h_19q2.to_csv("hbcny_+-_2019_q2.csv",index=False)