In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
hbcny_s_19q4 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_stress_2019_q4_t010.csv"

In [3]:
## Read data and store into df
## Drop the first 4 rows which hold info text
hbcny_s_19q4 = pd.read_csv(hbcny_s_19q4, skiprows=4)
hbcny_s_19q4.head()

,10,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,10,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,10,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,10,d,Alabama,46.7,26.7,0.6,4.9,9.0,11.3
4,10,d,Arizona,53.9,1.5,0.4,23.3,4.0,2.9

In [4]:
hbcny_s_19q4 = pd.DataFrame(hbcny_s_19q4)
hbcny_s_19q4

,10,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,10,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,10,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,10,d,Alabama,46.7,26.7,0.6,4.9,9.0,11.3
4,10,d,Arizona,53.9,1.5,0.4,23.3,4.0,2.9
...,...,...,...,...,...,...,...,...,...
58,10,f,(Z) Less than half of the unit shown.,NaN,NaN,NaN,NaN,NaN,NaN
59,10,f,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
60,10,f,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
61,10,f,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
62,10,f,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## Drop erroneous first 2 columns
hbcny_s_19q4.drop(hbcny_s_19q4.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_s_19q4.drop(hbcny_s_19q4.index[57:63])
hbcny_s_19q4.head()

,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,Alabama,46.7,26.7,0.6,4.9,9.0,11.3
4,Arizona,53.9,1.5,0.4,23.3,4.0,2.9

In [6]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_s_19q4 = hbcny_s_19q4.rename(columns={
    "Unnamed: 2": "state",
    "Varroa": "v_mites",
    "Other pests": "other_pest_para",
    "Unnamed: 5": "diseases",
    "Unnamed: 6": "pesticides",
    "Unnamed: 7": "other",
    "Unnamed: 8": "unknown"})

hbcny_s_19q4 = hbcny_s_19q4.drop(range(3))

hbcny_s_19q4

,state,v_mites,other_pest_para,diseases,pesticides,other,unknown
3,Alabama,46.7,26.7,0.6,4.9,9.0,11.3
4,Arizona,53.9,1.5,0.4,23.3,4.0,2.9
5,Arkansas,47.7,39.7,1.4,7.8,12.5,32.8
6,California,40.5,10.9,5.2,11.3,8.0,5.0
7,Colorado,67.7,1.5,-,15.3,2.6,0.8
8,Connecticut,22.2,11.1,2.4,-,1.7,1.6
9,Florida,43.5,25.6,7.8,11.7,7.8,4.8
10,Georgia,34.3,18.2,5.6,9.1,2.6,4.4
11,Hawaii,44.0,61.8,0.2,1.0,0.1,-
12,Idaho,20.3,4.3,5.4,10.5,9.9,1.1
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,28.9,27.3,1.1,3.4,8.9,8.9
15,Indiana,20.7,15.0,2.6,6.7,1.6,0.6
16,Iowa,61.0,17.8,5.6,25.2,19.7,4.2
17,Kansas,65.8,15.0,11.9,43.4,0.4,14.4
18,Kentucky,33.0,20.1,0.2,5.3,12.0,9.9
19,Louisiana,33.0,18.5,3.5,0.7,6.1,0.9
20,Maine,20.5,-,0.1,2.5,0.3,0.2
21,Maryland,12.6,4.5,1.8,-,0.3,5.0
22,Massachusetts,7.6,0.2,0.8,-,1.1,10.7
23,Michigan,37.0,9.7,9.2,8.3,1.1,3.8
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Minnesota,37.3,7.8,1.2,6.1,1.8,4.0
26,Mississippi,41.0,38.0,4.1,13.9,10.5,5.2
27,Missouri,19.2,5.9,0.2,0.1,1.5,0.4
28,Montana,15.7,1.8,(Z),0.8,2.8,0.3
29,Nebraska,5.8,1.0,-,3.5,2.8,6.4
30,New Jersey,2.5,0.9,-,-,1.3,0.5
31,New Mexico,5.2,0.3,0.4,-,2.6,-
32,New York,33.3,24.8,3.0,8.7,3.2,4.0
33,North Carolina,44.5,21.0,4.5,2.4,15.7,11.7
34,North Dakota,43.0,7.1,1.8,3.7,2.0,1.7
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Ohio,33.2,5.6,0.4,0.6,3.3,7.6
37,Oklahoma,1.0,0.4,-,0.4,0.4,0.1
38,Oregon,35.8,2.1,4.7,1.8,16.6,16.0
39,Pennsylvania,33.2,4.6,1.0,3.2,2.3,2.9
40,South Carolina,56.7,18.4,1.7,3.5,13.1,6.3
41,South Dakota,12.2,6.1,3.2,5.6,11.2,1.5
42,Tennessee,66.6,53.5,-,33.6,7.6,9.1
43,Texas,23.1,14.0,4.6,4.9,5.8,1.4
44,Utah,22.1,2.0,2.0,10.3,0.2,0.3
45,Vermont,21.0,1.3,0.6,0.8,0.6,0.9
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Virginia,37.7,18.6,0.4,-,5.3,6.0
48,Washington,40.3,2.3,0.6,19.6,2.9,3.2
49,West Virginia,65.8,10.7,1.1,0.4,6.1,2.2
50,Wisconsin,40.0,22.1,14.8,14.1,22.0,7.3
51,Wyoming,27.6,12.3,3.2,-,4.3,13.2
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Other States 4/,13.6,2.3,0.3,0.3,32.4,0.9
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,United States,45.7,15.0,5.4,10.9,8.6,5.3
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,- Represents zero.,NaN,NaN,NaN,NaN,NaN,NaN
58,(Z) Less than half of the unit shown.,NaN,NaN,NaN,NaN,NaN,NaN
59,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
60,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
61,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Drop blank rows
hbcny_s_19q4 = hbcny_s_19q4.dropna()
hbcny_s_19q4.tail()

              state v_mites other_pest_para diseases pesticides other unknown
49    West Virginia    65.8            10.7      1.1        0.4   6.1     2.2
50        Wisconsin    40.0            22.1     14.8       14.1  22.0     7.3
51          Wyoming    27.6            12.3      3.2          -   4.3    13.2
53  Other States 4/    13.6             2.3      0.3        0.3  32.4     0.9
55    United States    45.7            15.0      5.4       10.9   8.6     5.3

In [8]:
## Rename cell 
hbcny_s_19q4.loc[53, "state"] = "Other States"
hbcny_s_19q4.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-cd3609cb6c83>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_s_19q4.loc[53, "state"] = "Other States"

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    65.8            10.7      1.1        0.4   6.1     2.2
50      Wisconsin    40.0            22.1     14.8       14.1  22.0     7.3
51        Wyoming    27.6            12.3      3.2          -   4.3    13.2
53   Other States    13.6             2.3      0.3        0.3  32.4     0.9
55  United States    45.7            15.0      5.4       10.9   8.6     5.3

In [9]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_s_19q4 = hbcny_s_19q4.replace("(Z)", 0)
hbcny_s_19q4.tail()

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    65.8            10.7      1.1        0.4   6.1     2.2
50      Wisconsin    40.0            22.1     14.8       14.1  22.0     7.3
51        Wyoming    27.6            12.3      3.2          -   4.3    13.2
53   Other States    13.6             2.3      0.3        0.3  32.4     0.9
55  United States    45.7            15.0      5.4       10.9   8.6     5.3

In [10]:
## (X) defined as: N/A
## Assume "-" equals None
## Replace "-" and (X) values with None
hbcny_s_19q4 = hbcny_s_19q4.replace({'-': None})
hbcny_s_19q4 = hbcny_s_19q4.replace({'(X)': None})
hbcny_s_19q4

             state v_mites other_pest_para diseases pesticides other unknown
3          Alabama    46.7            26.7      0.6        4.9   9.0    11.3
4          Arizona    53.9             1.5      0.4       23.3   4.0     2.9
5         Arkansas    47.7            39.7      1.4        7.8  12.5    32.8
6       California    40.5            10.9      5.2       11.3   8.0     5.0
7         Colorado    67.7             1.5     None       15.3   2.6     0.8
8      Connecticut    22.2            11.1      2.4       None   1.7     1.6
9          Florida    43.5            25.6      7.8       11.7   7.8     4.8
10         Georgia    34.3            18.2      5.6        9.1   2.6     4.4
11          Hawaii    44.0            61.8      0.2        1.0   0.1    None
12           Idaho    20.3             4.3      5.4       10.5   9.9     1.1
14        Illinois    28.9            27.3      1.1        3.4   8.9     8.9
15         Indiana    20.7            15.0      2.6        6.7   1.6     0.6
16            Iowa    61.0            17.8      5.6       25.2  19.7     4.2
17          Kansas    65.8            15.0     11.9       43.4   0.4    14.4
18        Kentucky    33.0            20.1      0.2        5.3  12.0     9.9
19       Louisiana    33.0            18.5      3.5        0.7   6.1     0.9
20           Maine    20.5            None      0.1        2.5   0.3     0.2
21        Maryland    12.6             4.5      1.8       None   0.3     5.0
22   Massachusetts     7.6             0.2      0.8       None   1.1    10.7
23        Michigan    37.0             9.7      9.2        8.3   1.1     3.8
25       Minnesota    37.3             7.8      1.2        6.1   1.8     4.0
26     Mississippi    41.0            38.0      4.1       13.9  10.5     5.2
27        Missouri    19.2             5.9      0.2        0.1   1.5     0.4
28         Montana    15.7             1.8        0        0.8   2.8     0.3
29        Nebraska     5.8             1.0     None        3.5   2.8     6.4
30      New Jersey     2.5             0.9     None       None   1.3     0.5
31      New Mexico     5.2             0.3      0.4       None   2.6    None
32        New York    33.3            24.8      3.0        8.7   3.2     4.0
33  North Carolina    44.5            21.0      4.5        2.4  15.7    11.7
34    North Dakota    43.0             7.1      1.8        3.7   2.0     1.7
36            Ohio    33.2             5.6      0.4        0.6   3.3     7.6
37        Oklahoma     1.0             0.4     None        0.4   0.4     0.1
38          Oregon    35.8             2.1      4.7        1.8  16.6    16.0
39    Pennsylvania    33.2             4.6      1.0        3.2   2.3     2.9
40  South Carolina    56.7            18.4      1.7        3.5  13.1     6.3
41    South Dakota    12.2             6.1      3.2        5.6  11.2     1.5
42       Tennessee    66.6            53.5     None       33.6   7.6     9.1
43           Texas    23.1            14.0      4.6        4.9   5.8     1.4
44            Utah    22.1             2.0      2.0       10.3   0.2     0.3
45         Vermont    21.0             1.3      0.6        0.8   0.6     0.9
47        Virginia    37.7            18.6      0.4       None   5.3     6.0
48      Washington    40.3             2.3      0.6       19.6   2.9     3.2
49   West Virginia    65.8            10.7      1.1        0.4   6.1     2.2
50       Wisconsin    40.0            22.1     14.8       14.1  22.0     7.3
51         Wyoming    27.6            12.3      3.2       None   4.3    13.2
53    Other States    13.6             2.3      0.3        0.3  32.4     0.9
55   United States    45.7            15.0      5.4       10.9   8.6     5.3

In [11]:
## Reset the index
hbcny_s_19q4 = hbcny_s_19q4.reset_index(drop = True)
hbcny_s_19q4

             state v_mites other_pest_para diseases pesticides other unknown
0          Alabama    46.7            26.7      0.6        4.9   9.0    11.3
1          Arizona    53.9             1.5      0.4       23.3   4.0     2.9
2         Arkansas    47.7            39.7      1.4        7.8  12.5    32.8
3       California    40.5            10.9      5.2       11.3   8.0     5.0
4         Colorado    67.7             1.5     None       15.3   2.6     0.8
5      Connecticut    22.2            11.1      2.4       None   1.7     1.6
6          Florida    43.5            25.6      7.8       11.7   7.8     4.8
7          Georgia    34.3            18.2      5.6        9.1   2.6     4.4
8           Hawaii    44.0            61.8      0.2        1.0   0.1    None
9            Idaho    20.3             4.3      5.4       10.5   9.9     1.1
10        Illinois    28.9            27.3      1.1        3.4   8.9     8.9
11         Indiana    20.7            15.0      2.6        6.7   1.6     0.6
12            Iowa    61.0            17.8      5.6       25.2  19.7     4.2
13          Kansas    65.8            15.0     11.9       43.4   0.4    14.4
14        Kentucky    33.0            20.1      0.2        5.3  12.0     9.9
15       Louisiana    33.0            18.5      3.5        0.7   6.1     0.9
16           Maine    20.5            None      0.1        2.5   0.3     0.2
17        Maryland    12.6             4.5      1.8       None   0.3     5.0
18   Massachusetts     7.6             0.2      0.8       None   1.1    10.7
19        Michigan    37.0             9.7      9.2        8.3   1.1     3.8
20       Minnesota    37.3             7.8      1.2        6.1   1.8     4.0
21     Mississippi    41.0            38.0      4.1       13.9  10.5     5.2
22        Missouri    19.2             5.9      0.2        0.1   1.5     0.4
23         Montana    15.7             1.8        0        0.8   2.8     0.3
24        Nebraska     5.8             1.0     None        3.5   2.8     6.4
25      New Jersey     2.5             0.9     None       None   1.3     0.5
26      New Mexico     5.2             0.3      0.4       None   2.6    None
27        New York    33.3            24.8      3.0        8.7   3.2     4.0
28  North Carolina    44.5            21.0      4.5        2.4  15.7    11.7
29    North Dakota    43.0             7.1      1.8        3.7   2.0     1.7
30            Ohio    33.2             5.6      0.4        0.6   3.3     7.6
31        Oklahoma     1.0             0.4     None        0.4   0.4     0.1
32          Oregon    35.8             2.1      4.7        1.8  16.6    16.0
33    Pennsylvania    33.2             4.6      1.0        3.2   2.3     2.9
34  South Carolina    56.7            18.4      1.7        3.5  13.1     6.3
35    South Dakota    12.2             6.1      3.2        5.6  11.2     1.5
36       Tennessee    66.6            53.5     None       33.6   7.6     9.1
37           Texas    23.1            14.0      4.6        4.9   5.8     1.4
38            Utah    22.1             2.0      2.0       10.3   0.2     0.3
39         Vermont    21.0             1.3      0.6        0.8   0.6     0.9
40        Virginia    37.7            18.6      0.4       None   5.3     6.0
41      Washington    40.3             2.3      0.6       19.6   2.9     3.2
42   West Virginia    65.8            10.7      1.1        0.4   6.1     2.2
43       Wisconsin    40.0            22.1     14.8       14.1  22.0     7.3
44         Wyoming    27.6            12.3      3.2       None   4.3    13.2
45    Other States    13.6             2.3      0.3        0.3  32.4     0.9
46   United States    45.7            15.0      5.4       10.9   8.6     5.3

In [12]:
hbcny_s_19q4.to_csv("hbcny_stress_19q4.csv", index=False)