In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
hbcny_h_19q4 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_+-_2019_q4_t008.csv"

In [3]:
## Read data and store into df
## Drop the first 5 rows which hold info text
hbcny_h_19q4 = pd.read_csv(hbcny_h_19q4, skiprows=4)

In [4]:
#hbcny_h_19q4 = pd.DataFrame(hbcny_h_19q4)
hbcny_h_19q4

,8,h,State,October 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,8,h,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,8,h,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,8,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,u,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,8,d,Alabama,6000,6000,660,11,240,70,1
...,...,...,...,...,...,...,...,...,...,...
61,8,f,1/ October 1 colonies plus all colonies moved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,8,f,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,8,f,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,8,f,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,8,f,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## Drop erroneous first 2 columns
hbcny_h_19q4.drop(hbcny_h_19q4.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
hbcny_h_19q4.drop(hbcny_h_19q4.index[56:66])

hbcny_h_19q4

,State,October 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,Alabama,6000,6000,660,11,240,70,1
...,...,...,...,...,...,...,...,...
61,1/ October 1 colonies plus all colonies moved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_h_19q4 = hbcny_h_19q4.rename(columns={
    "State": "state",
    "October 1": "num_cny_on_day1_qtr",
    "Unnamed: 4": "max_cny",
    "Unnamed: 5": "lost_cny",
    "Unnamed: 6": "pct_lost",
    "Unnamed: 7": "added_cny",
    "Unnamed: 8": "renovated_cny",
    "Unnamed: 9": "pct_renovated"})

hbcny_h_19q4 = hbcny_h_19q4.drop(range(4))

hbcny_h_19q4

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,6000,6000,660,11,240,70,1
5,Arizona,34000,36000,7000,19,300,300,1
6,Arkansas,19000,19500,1600,8,430,310,2
7,California,700000,1300000,136000,10,160000,37000,3
8,Colorado,27000,27000,8000,30,1100,440,2
...,...,...,...,...,...,...,...,...
61,1/ October 1 colonies plus all colonies moved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Drop blank rows
hbcny_h_19q4 = hbcny_h_19q4.dropna()
hbcny_h_19q4.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,7500,8000,1500,19,30,1600,20
51,Wisconsin,46000,46000,8500,18,1800,3000,7
52,Wyoming,27000,28000,3300,12,100,490,2
54,Other States 5/,11010,11510,1340,12,280,-,-
56,United States,3018110,(X),399510,13,233260,91000,3

In [8]:
## Rename cell 
hbcny_h_19q4.loc[54, "state"] = "Other States"
hbcny_h_19q4.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-2d1fbb9f4c95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_h_19q4.loc[54, "state"] = "Other States"

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,7500,8000,1500,19,30,1600,20
51,Wisconsin,46000,46000,8500,18,1800,3000,7
52,Wyoming,27000,28000,3300,12,100,490,2
54,Other States,11010,11510,1340,12,280,-,-
56,United States,3018110,(X),399510,13,233260,91000,3

In [9]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_h_19q4 = hbcny_h_19q4.replace("(Z)", 0)
hbcny_h_19q4.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,7500,8000,1500,19,30,1600,20
51,Wisconsin,46000,46000,8500,18,1800,3000,7
52,Wyoming,27000,28000,3300,12,100,490,2
54,Other States,11010,11510,1340,12,280,-,-
56,United States,3018110,(X),399510,13,233260,91000,3

In [10]:
## (X) defined as: N/A
## Assume "-" equals None
## Replace "-" and (X) values with None
hbcny_h_19q4 = hbcny_h_19q4.replace({'-': None})
hbcny_h_19q4 = hbcny_h_19q4.replace({'(X)': None})
hbcny_h_19q4

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,6000,6000,660,11,240,70,1
5,Arizona,34000,36000,7000,19,300,300,1
6,Arkansas,19000,19500,1600,8,430,310,2
7,California,700000,1300000,136000,10,160000,37000,3
8,Colorado,27000,27000,8000,30,1100,440,2
9,Connecticut,3800,4000,300,8,10,50,1
10,Florida,270000,300000,30000,10,28000,15000,5
11,Georgia,119000,131000,20000,15,10500,10500,8
12,Hawaii,17000,17000,1300,8,300,50,0
13,Idaho,111000,196000,15500,8,1800,1000,1
15,Illinois,13000,13000,1700,13,1000,1500,12
16,Indiana,17500,17500,1300,7,160,180,1
17,Iowa,32000,32000,7500,23,1500,530,2
18,Kansas,4800,4900,650,13,190,460,9
19,Kentucky,8500,8500,410,5,190,170,2
20,Louisiana,41000,46000,2300,5,70,80,0
21,Maine,11500,11500,770,7,110,40,0
22,Maryland,6500,8000,1100,14,390,420,5
23,Massachusetts,5000,5000,1200,24,60,130,3
24,Michigan,84000,84000,6500,8,820,1500,2
26,Minnesota,97000,97000,15500,16,3400,60,0
27,Mississippi,21000,29000,3400,12,350,50,0
28,Missouri,9000,10000,1500,15,260,10,0
29,Montana,71000,79000,7000,9,770,4000,5
30,Nebraska,37000,38000,2700,7,320,10,0
31,New Jersey,15500,15500,220,1,60,80,1
32,New Mexico,6000,6000,70,1,30,10,0
33,New York,65000,65000,10000,15,630,510,1
34,North Carolina,17500,18000,3200,18,240,770,4
35,North Dakota,420000,420000,27000,6,3000,4300,1
37,Ohio,19000,19000,2700,14,800,390,2
38,Oklahoma,6500,37000,2500,7,460,None,None
39,Oregon,115000,130000,15000,12,650,2000,2
40,Pennsylvania,21000,21000,3800,18,1600,1100,5
41,South Carolina,12500,13500,1900,14,1400,430,3
42,South Dakota,189000,189000,7500,4,None,40,0
43,Tennessee,11000,11000,1300,12,20,70,1
44,Texas,129000,240000,17500,7,8000,1700,1
45,Utah,30000,32000,4400,14,970,90,0
46,Vermont,7000,7000,190,3,100,270,4
48,Virginia,8000,8000,1200,15,10,190,2
49,Washington,89000,93000,12500,13,810,100,0
50,West Virginia,7500,8000,1500,19,30,1600,20
51,Wisconsin,46000,46000,8500,18,1800,3000,7
52,Wyoming,27000,28000,3300,12,100,490,2
54,Other States,11010,11510,1340,12,280,None,None
56,United States,3018110,None,399510,13,233260,91000,3

In [11]:
## Reset the index
hbcny_h_19q4 = hbcny_h_19q4.reset_index(drop = True)
hbcny_h_19q4

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
0,Alabama,6000,6000,660,11,240,70,1
1,Arizona,34000,36000,7000,19,300,300,1
2,Arkansas,19000,19500,1600,8,430,310,2
3,California,700000,1300000,136000,10,160000,37000,3
4,Colorado,27000,27000,8000,30,1100,440,2
5,Connecticut,3800,4000,300,8,10,50,1
6,Florida,270000,300000,30000,10,28000,15000,5
7,Georgia,119000,131000,20000,15,10500,10500,8
8,Hawaii,17000,17000,1300,8,300,50,0
9,Idaho,111000,196000,15500,8,1800,1000,1
10,Illinois,13000,13000,1700,13,1000,1500,12
11,Indiana,17500,17500,1300,7,160,180,1
12,Iowa,32000,32000,7500,23,1500,530,2
13,Kansas,4800,4900,650,13,190,460,9
14,Kentucky,8500,8500,410,5,190,170,2
15,Louisiana,41000,46000,2300,5,70,80,0
16,Maine,11500,11500,770,7,110,40,0
17,Maryland,6500,8000,1100,14,390,420,5
18,Massachusetts,5000,5000,1200,24,60,130,3
19,Michigan,84000,84000,6500,8,820,1500,2
20,Minnesota,97000,97000,15500,16,3400,60,0
21,Mississippi,21000,29000,3400,12,350,50,0
22,Missouri,9000,10000,1500,15,260,10,0
23,Montana,71000,79000,7000,9,770,4000,5
24,Nebraska,37000,38000,2700,7,320,10,0
25,New Jersey,15500,15500,220,1,60,80,1
26,New Mexico,6000,6000,70,1,30,10,0
27,New York,65000,65000,10000,15,630,510,1
28,North Carolina,17500,18000,3200,18,240,770,4
29,North Dakota,420000,420000,27000,6,3000,4300,1
30,Ohio,19000,19000,2700,14,800,390,2
31,Oklahoma,6500,37000,2500,7,460,None,None
32,Oregon,115000,130000,15000,12,650,2000,2
33,Pennsylvania,21000,21000,3800,18,1600,1100,5
34,South Carolina,12500,13500,1900,14,1400,430,3
35,South Dakota,189000,189000,7500,4,None,40,0
36,Tennessee,11000,11000,1300,12,20,70,1
37,Texas,129000,240000,17500,7,8000,1700,1
38,Utah,30000,32000,4400,14,970,90,0
39,Vermont,7000,7000,190,3,100,270,4
40,Virginia,8000,8000,1200,15,10,190,2
41,Washington,89000,93000,12500,13,810,100,0
42,West Virginia,7500,8000,1500,19,30,1600,20
43,Wisconsin,46000,46000,8500,18,1800,3000,7
44,Wyoming,27000,28000,3300,12,100,490,2
45,Other States,11010,11510,1340,12,280,None,None
46,United States,3018110,None,399510,13,233260,91000,3

In [12]:
hbcny_h_19q4.to_csv("hbcny_+-_2019_q4.csv", index=False)