In [52]:
## Dependencies and setup
import pandas as pd

In [53]:
## Load data files
hbcny_s_19q1 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_stress_2019_q1_t002.csv"

In [54]:
## Read data and store into df
## Drop the first 4 rows which hold info text
hbcny_s_19q1 = pd.read_csv(hbcny_s_19q1, skiprows=4)
hbcny_s_19q1.head()

,2,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,2,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,2,d,Alabama,27.2,22.7,1.8,0.3,3.1,9
4,2,d,Arizona,25.8,7.9,6.5,16.2,8.4,0.2

In [55]:
hbcny_s_19q1 = pd.DataFrame(hbcny_s_19q1)
hbcny_s_19q1

,2,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,2,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,2,d,Alabama,27.2,22.7,1.8,0.3,3.1,9
4,2,d,Arizona,25.8,7.9,6.5,16.2,8.4,0.2
...,...,...,...,...,...,...,...,...,...
58,2,f,(Z) Less than half of the unit shown.,NaN,NaN,NaN,NaN,NaN,NaN
59,2,f,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
60,2,f,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
61,2,f,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
62,2,f,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
## Drop erroneous first 2 columns
hbcny_s_19q1.drop(hbcny_s_19q1.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_s_19q1.drop(hbcny_s_19q1.index[57:63])
hbcny_s_19q1.head()

,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,Alabama,27.2,22.7,1.8,0.3,3.1,9
4,Arizona,25.8,7.9,6.5,16.2,8.4,0.2

In [57]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_s_19q1 = hbcny_s_19q1.rename(columns={
    "Unnamed: 2": "state",
    "Varroa": "v_mites",
    "Other pests": "other_pest_para",
    "Unnamed: 5": "diseases",
    "Unnamed: 6": "pesticides",
    "Unnamed: 7": "other",
    "Unnamed: 8": "unknown"})

hbcny_s_19q1 = hbcny_s_19q1.drop(range(3))

hbcny_s_19q1

,state,v_mites,other_pest_para,diseases,pesticides,other,unknown
3,Alabama,27.2,22.7,1.8,0.3,3.1,9
4,Arizona,25.8,7.9,6.5,16.2,8.4,0.2
5,Arkansas,19.5,1.5,3.3,55.3,0.7,2.9
6,California,43.5,13.4,6.4,12.3,8.7,5.6
7,Colorado,11.2,0.3,-,-,2.5,0.6
8,Connecticut,10.1,1.3,-,-,3.6,1.7
9,Florida,46.9,24.8,5.5,22.9,7.4,5.5
10,Georgia,69.6,17.8,7.4,9.6,10.6,4.9
11,Hawaii,72.1,64.9,0.1,0.7,2.9,-
12,Idaho,24.5,8,8,9.2,8.6,(Z)
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,33.3,14.7,3.1,0.7,15.5,10.1
15,Indiana,15.6,8.8,2.6,5.5,7.1,1.7
16,Iowa,34.8,1.7,0.6,0.3,7.7,3.5
17,Kansas,86.9,7.8,2.5,12.2,21.6,4
18,Kentucky,21.6,12.9,0.1,5.3,10.7,4.6
19,Louisiana,57.8,1.3,0.1,0.3,1,0.7
20,Maine,2.3,0.1,-,-,1.4,0.8
21,Maryland,12.6,5.1,0.2,(Z),10.1,2.4
22,Massachusetts,10.3,-,-,4.3,6.3,0.9
23,Michigan,18.2,5.8,1.5,0.2,12.2,0.7
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Minnesota,1.3,0.2,1.9,-,2,0.8
26,Mississippi,14.6,71,64.8,48.4,1.9,5.5
27,Missouri,5.4,2.3,1.9,0.5,5.4,3.2
28,Montana,15.1,(Z),-,0.8,0.8,1.1
29,Nebraska,32.3,1.3,32,0.8,2.2,0.1
30,New Jersey,15.3,4.4,-,-,3.5,0.6
31,New Mexico,3.5,1.1,0.6,-,1.4,0.3
32,New York,10.6,2.5,1.7,1.7,7.7,9
33,North Carolina,16.4,2,0.2,0.7,2.2,3.4
34,North Dakota,6.9,-,-,6.5,0.4,1.3
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Ohio,49.3,9.9,11.1,1.1,6.7,3.1
37,Oklahoma,7.7,0.3,-,-,(Z),(Z)
38,Oregon,18,0.1,0.2,0.2,2.7,0.5
39,Pennsylvania,15.3,4.6,3.7,4,7.5,9.5
40,South Carolina,18.5,14.5,(Z),1.7,12.4,1
41,South Dakota,0.8,(Z),-,2.5,0.8,2.2
42,Tennessee,62.8,23.6,5.1,0.9,7.7,7.1
43,Texas,26.1,6.5,5.3,8.3,6.9,3
44,Utah,22.9,-,0.1,-,0.3,8.8
45,Vermont,6.2,0.1,2.4,-,0.2,1.2
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Virginia,16.6,12.8,0.8,0.3,3.9,9.3
48,Washington,22.3,0.8,0.6,0.3,0.8,0.2
49,West Virginia,10.3,3.2,1.1,0.2,5,1.3
50,Wisconsin,15.9,3.2,0.7,1.1,13.8,5
51,Wyoming,0.7,-,0.1,-,0.5,2.3
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Other States 4/,6.9,1.8,0.3,-,2.1,1.6
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,United States,45.6,14.8,7.1,13.6,9,5.2
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,#NAME?,NaN,NaN,NaN,NaN,NaN,NaN
58,(Z) Less than half of the unit shown.,NaN,NaN,NaN,NaN,NaN,NaN
59,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
60,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
61,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
## Drop blank rows
hbcny_s_19q1 = hbcny_s_19q1.dropna()
hbcny_s_19q1.tail()

              state v_mites other_pest_para diseases pesticides other unknown
49    West Virginia    10.3             3.2      1.1        0.2     5     1.3
50        Wisconsin    15.9             3.2      0.7        1.1  13.8       5
51          Wyoming     0.7               -      0.1          -   0.5     2.3
53  Other States 4/     6.9             1.8      0.3          -   2.1     1.6
55    United States    45.6            14.8      7.1       13.6     9     5.2

In [59]:
## Rename cell 
hbcny_s_19q1.loc[53, "state"] = "Other States"
hbcny_s_19q1.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-59-ccfeda6ab357>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_s_19q1.loc[53, "state"] = "Other States"

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    10.3             3.2      1.1        0.2     5     1.3
50      Wisconsin    15.9             3.2      0.7        1.1  13.8       5
51        Wyoming     0.7               -      0.1          -   0.5     2.3
53   Other States     6.9             1.8      0.3          -   2.1     1.6
55  United States    45.6            14.8      7.1       13.6     9     5.2

In [60]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_s_19q1 = hbcny_s_19q1.replace("(Z)", 0)
hbcny_s_19q1.tail()

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    10.3             3.2      1.1        0.2     5     1.3
50      Wisconsin    15.9             3.2      0.7        1.1  13.8       5
51        Wyoming     0.7               -      0.1          -   0.5     2.3
53   Other States     6.9             1.8      0.3          -   2.1     1.6
55  United States    45.6            14.8      7.1       13.6     9     5.2

In [61]:
## (X) defined as: N/A
## Assume "-" equals None
## Replace "-" and (X) values with None
hbcny_s_19q1 = hbcny_s_19q1.replace({'-': None})
hbcny_s_19q1 = hbcny_s_19q1.replace({'(X)': None})
hbcny_s_19q1

             state v_mites other_pest_para diseases pesticides other unknown
3          Alabama    27.2            22.7      1.8        0.3   3.1       9
4          Arizona    25.8             7.9      6.5       16.2   8.4     0.2
5         Arkansas    19.5             1.5      3.3       55.3   0.7     2.9
6       California    43.5            13.4      6.4       12.3   8.7     5.6
7         Colorado    11.2             0.3     None       None   2.5     0.6
8      Connecticut    10.1             1.3     None       None   3.6     1.7
9          Florida    46.9            24.8      5.5       22.9   7.4     5.5
10         Georgia    69.6            17.8      7.4        9.6  10.6     4.9
11          Hawaii    72.1            64.9      0.1        0.7   2.9    None
12           Idaho    24.5               8        8        9.2   8.6       0
14        Illinois    33.3            14.7      3.1        0.7  15.5    10.1
15         Indiana    15.6             8.8      2.6        5.5   7.1     1.7
16            Iowa    34.8             1.7      0.6        0.3   7.7     3.5
17          Kansas    86.9             7.8      2.5       12.2  21.6       4
18        Kentucky    21.6            12.9      0.1        5.3  10.7     4.6
19       Louisiana    57.8             1.3      0.1        0.3     1     0.7
20           Maine     2.3             0.1     None       None   1.4     0.8
21        Maryland    12.6             5.1      0.2          0  10.1     2.4
22   Massachusetts    10.3            None     None        4.3   6.3     0.9
23        Michigan    18.2             5.8      1.5        0.2  12.2     0.7
25       Minnesota     1.3             0.2      1.9       None     2     0.8
26     Mississippi    14.6              71     64.8       48.4   1.9     5.5
27        Missouri     5.4             2.3      1.9        0.5   5.4     3.2
28         Montana    15.1               0     None        0.8   0.8     1.1
29        Nebraska    32.3             1.3       32        0.8   2.2     0.1
30      New Jersey    15.3             4.4     None       None   3.5     0.6
31      New Mexico     3.5             1.1      0.6       None   1.4     0.3
32        New York    10.6             2.5      1.7        1.7   7.7       9
33  North Carolina    16.4               2      0.2        0.7   2.2     3.4
34    North Dakota     6.9            None     None        6.5   0.4     1.3
36            Ohio    49.3             9.9     11.1        1.1   6.7     3.1
37        Oklahoma     7.7             0.3     None       None     0       0
38          Oregon      18             0.1      0.2        0.2   2.7     0.5
39    Pennsylvania    15.3             4.6      3.7          4   7.5     9.5
40  South Carolina    18.5            14.5        0        1.7  12.4       1
41    South Dakota     0.8               0     None        2.5   0.8     2.2
42       Tennessee    62.8            23.6      5.1        0.9   7.7     7.1
43           Texas    26.1             6.5      5.3        8.3   6.9       3
44            Utah    22.9            None      0.1       None   0.3     8.8
45         Vermont     6.2             0.1      2.4       None   0.2     1.2
47        Virginia    16.6            12.8      0.8        0.3   3.9     9.3
48      Washington    22.3             0.8      0.6        0.3   0.8     0.2
49   West Virginia    10.3             3.2      1.1        0.2     5     1.3
50       Wisconsin    15.9             3.2      0.7        1.1  13.8       5
51         Wyoming     0.7            None      0.1       None   0.5     2.3
53    Other States     6.9             1.8      0.3       None   2.1     1.6
55   United States    45.6            14.8      7.1       13.6     9     5.2

In [62]:
## Reset the index
hbcny_s_19q1 = hbcny_s_19q1.reset_index(drop = True)
hbcny_s_19q1

             state v_mites other_pest_para diseases pesticides other unknown
0          Alabama    27.2            22.7      1.8        0.3   3.1       9
1          Arizona    25.8             7.9      6.5       16.2   8.4     0.2
2         Arkansas    19.5             1.5      3.3       55.3   0.7     2.9
3       California    43.5            13.4      6.4       12.3   8.7     5.6
4         Colorado    11.2             0.3     None       None   2.5     0.6
5      Connecticut    10.1             1.3     None       None   3.6     1.7
6          Florida    46.9            24.8      5.5       22.9   7.4     5.5
7          Georgia    69.6            17.8      7.4        9.6  10.6     4.9
8           Hawaii    72.1            64.9      0.1        0.7   2.9    None
9            Idaho    24.5               8        8        9.2   8.6       0
10        Illinois    33.3            14.7      3.1        0.7  15.5    10.1
11         Indiana    15.6             8.8      2.6        5.5   7.1     1.7
12            Iowa    34.8             1.7      0.6        0.3   7.7     3.5
13          Kansas    86.9             7.8      2.5       12.2  21.6       4
14        Kentucky    21.6            12.9      0.1        5.3  10.7     4.6
15       Louisiana    57.8             1.3      0.1        0.3     1     0.7
16           Maine     2.3             0.1     None       None   1.4     0.8
17        Maryland    12.6             5.1      0.2          0  10.1     2.4
18   Massachusetts    10.3            None     None        4.3   6.3     0.9
19        Michigan    18.2             5.8      1.5        0.2  12.2     0.7
20       Minnesota     1.3             0.2      1.9       None     2     0.8
21     Mississippi    14.6              71     64.8       48.4   1.9     5.5
22        Missouri     5.4             2.3      1.9        0.5   5.4     3.2
23         Montana    15.1               0     None        0.8   0.8     1.1
24        Nebraska    32.3             1.3       32        0.8   2.2     0.1
25      New Jersey    15.3             4.4     None       None   3.5     0.6
26      New Mexico     3.5             1.1      0.6       None   1.4     0.3
27        New York    10.6             2.5      1.7        1.7   7.7       9
28  North Carolina    16.4               2      0.2        0.7   2.2     3.4
29    North Dakota     6.9            None     None        6.5   0.4     1.3
30            Ohio    49.3             9.9     11.1        1.1   6.7     3.1
31        Oklahoma     7.7             0.3     None       None     0       0
32          Oregon      18             0.1      0.2        0.2   2.7     0.5
33    Pennsylvania    15.3             4.6      3.7          4   7.5     9.5
34  South Carolina    18.5            14.5        0        1.7  12.4       1
35    South Dakota     0.8               0     None        2.5   0.8     2.2
36       Tennessee    62.8            23.6      5.1        0.9   7.7     7.1
37           Texas    26.1             6.5      5.3        8.3   6.9       3
38            Utah    22.9            None      0.1       None   0.3     8.8
39         Vermont     6.2             0.1      2.4       None   0.2     1.2
40        Virginia    16.6            12.8      0.8        0.3   3.9     9.3
41      Washington    22.3             0.8      0.6        0.3   0.8     0.2
42   West Virginia    10.3             3.2      1.1        0.2     5     1.3
43       Wisconsin    15.9             3.2      0.7        1.1  13.8       5
44         Wyoming     0.7            None      0.1       None   0.5     2.3
45    Other States     6.9             1.8      0.3       None   2.1     1.6
46   United States    45.6            14.8      7.1       13.6     9     5.2

In [63]:
hbcny_s_19q1.to_csv("hbcny_stress_19q1.csv", index=False)