In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
hbcny_h_19q3 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_+-_2019_q3_t007.csv"

In [3]:
## Read data and store into df
## Drop the first 5 rows which hold info text
hbcny_h_19q3 = pd.read_csv(hbcny_h_19q3, skiprows=4)

In [4]:
#hbcny_h_19q3 = pd.DataFrame(hbcny_h_19q3)
hbcny_h_19q3

,7,h,State,July 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,7,h,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,7,h,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,Renovated 4/
2,7,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,u,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,7,d,Alabama,7000,7000,990,14,160,330,5
...,...,...,...,...,...,...,...,...,...,...
59,7,f,1/ July 1 colonies plus all colonies moved int...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,7,f,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,7,f,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,7,f,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,7,f,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## Drop erroneous first 2 columns
hbcny_h_19q3.drop(hbcny_h_19q3.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_h_19q3.drop(hbcny_h_19q3.index[56:66])

hbcny_h_19q3

,State,July 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,Renovated 4/
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,Alabama,7000,7000,990,14,160,330,5
...,...,...,...,...,...,...,...,...
59,1/ July 1 colonies plus all colonies moved int...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_h_19q3 = hbcny_h_19q3.rename(columns={
    "State": "state",
    "July 1": "num_cny_on_day1_qtr",
    "Unnamed: 4": "max_cny",
    "Unnamed: 5": "lost_cny",
    "Unnamed: 6": "pct_lost",
    "Unnamed: 7": "added_cny",
    "Unnamed: 8": "renovated_cny",
    "Unnamed: 9": "pct_renovated"})

hbcny_h_19q3 = hbcny_h_19q3.drop(range(4))

hbcny_h_19q3

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,7000,7000,990,14,160,330,5
5,Arizona,26000,30000,2000,7,5500,3800,13
6,Arkansas,20000,21000,2100,10,170,680,3
7,California,650000,700000,93000,13,87000,108000,15
8,Colorado,33000,36000,9500,26,2200,3400,9
9,Connecticut,4400,4400,200,5,70,470,11
10,Florida,210000,240000,20000,8,46000,33000,14
11,Georgia,116000,118000,13000,11,12000,36000,31
12,Hawaii,17000,17000,200,1,200,6000,35
13,Idaho,95000,111000,10500,9,8500,12500,11
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Illinois,13500,13500,940,7,460,1300,10
16,Indiana,14000,16000,1000,6,2200,1500,9
17,Iowa,30000,33000,3400,10,2000,4800,15
18,Kansas,7500,7500,1900,25,190,400,5
19,Kentucky,8000,8500,850,10,700,430,5
20,Louisiana,42000,44000,4100,9,4400,13000,30
21,Maine,11500,12000,1100,9,460,3500,29
22,Maryland,7500,7500,790,11,720,1200,16
23,Massachusetts,13500,13500,1100,8,800,560,4
24,Michigan,94000,99000,11000,11,3000,3300,3
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Minnesota,126000,129000,21000,16,5000,2100,2
27,Mississippi,23000,23000,2900,13,550,850,4
28,Missouri,10500,10500,500,5,260,350,3
29,Montana,147000,154000,18500,12,3600,12500,8
30,Nebraska,40000,41000,3700,9,680,1400,3
31,New Jersey,16000,16000,680,4,650,3100,19
32,New Mexico,2400,5500,170,3,1000,550,10
33,New York,65000,69000,8500,12,3200,3700,5
34,North Carolina,22000,22000,2700,12,1800,5000,23
35,North Dakota,530000,530000,81000,15,15000,17500,3
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,19500,19500,1600,8,2800,3000,15
38,Oklahoma,7500,7500,930,12,130,1100,15
39,Oregon,83000,118000,8000,7,6000,21000,18
40,Pennsylvania,19000,20000,980,5,1800,1900,10
41,South Carolina,14500,14500,2200,15,2000,1400,10
42,South Dakota,255000,255000,51000,20,1300,8000,3
43,Tennessee,14000,14000,4500,32,2200,2200,16
44,Texas,126000,133000,11000,8,6500,7000,5
45,Utah,24000,29000,2800,10,3500,1700,6
46,Vermont,7000,7000,120,2,80,490,7
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Virginia,9000,9000,570,6,350,820,9
49,Washington,85000,97000,21000,22,12000,10000,10
50,West Virginia,10000,10000,1100,11,200,1100,11
51,Wisconsin,63000,63000,6500,10,2400,10000,16
52,Wyoming,24000,27000,3000,11,2500,3500,13
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Other States 5/,13660,13900,2080,15,320,900,6
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,United States,3175960,(X),434700,14,252550,355330,11
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,(X) Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1/ July 1 colonies plus all colonies moved int...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Drop blank rows
hbcny_h_19q3 = hbcny_h_19q3.dropna()
hbcny_h_19q3.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,10000,10000,1100,11,200,1100,11
51,Wisconsin,63000,63000,6500,10,2400,10000,16
52,Wyoming,24000,27000,3000,11,2500,3500,13
54,Other States 5/,13660,13900,2080,15,320,900,6
56,United States,3175960,(X),434700,14,252550,355330,11

In [8]:
## Rename cell 
hbcny_h_19q3.loc[54, "state"] = "Other States"
hbcny_h_19q3.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-039481cd520b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_h_19q3.loc[54, "state"] = "Other States"

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,10000,10000,1100,11,200,1100,11
51,Wisconsin,63000,63000,6500,10,2400,10000,16
52,Wyoming,24000,27000,3000,11,2500,3500,13
54,Other States,13660,13900,2080,15,320,900,6
56,United States,3175960,(X),434700,14,252550,355330,11

In [9]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
#hbcny_h_19q3 = hbcny_h_19q3.replace("(Z)", 0)
#hbcny_h_19q3.tail()

In [10]:
## Assume "-" equals None
## Replace "-" values with None
#hbcny_h_19q3 = hbcny_h_19q3.replace({'-': None})
#hbcny_h_19q3

In [11]:
## Reset the index
hbcny_h_19q3 = hbcny_h_19q3.reset_index(drop = True)
hbcny_h_19q3

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
0,Alabama,7000,7000,990,14,160,330,5
1,Arizona,26000,30000,2000,7,5500,3800,13
2,Arkansas,20000,21000,2100,10,170,680,3
3,California,650000,700000,93000,13,87000,108000,15
4,Colorado,33000,36000,9500,26,2200,3400,9
5,Connecticut,4400,4400,200,5,70,470,11
6,Florida,210000,240000,20000,8,46000,33000,14
7,Georgia,116000,118000,13000,11,12000,36000,31
8,Hawaii,17000,17000,200,1,200,6000,35
9,Idaho,95000,111000,10500,9,8500,12500,11
10,Illinois,13500,13500,940,7,460,1300,10
11,Indiana,14000,16000,1000,6,2200,1500,9
12,Iowa,30000,33000,3400,10,2000,4800,15
13,Kansas,7500,7500,1900,25,190,400,5
14,Kentucky,8000,8500,850,10,700,430,5
15,Louisiana,42000,44000,4100,9,4400,13000,30
16,Maine,11500,12000,1100,9,460,3500,29
17,Maryland,7500,7500,790,11,720,1200,16
18,Massachusetts,13500,13500,1100,8,800,560,4
19,Michigan,94000,99000,11000,11,3000,3300,3
20,Minnesota,126000,129000,21000,16,5000,2100,2
21,Mississippi,23000,23000,2900,13,550,850,4
22,Missouri,10500,10500,500,5,260,350,3
23,Montana,147000,154000,18500,12,3600,12500,8
24,Nebraska,40000,41000,3700,9,680,1400,3
25,New Jersey,16000,16000,680,4,650,3100,19
26,New Mexico,2400,5500,170,3,1000,550,10
27,New York,65000,69000,8500,12,3200,3700,5
28,North Carolina,22000,22000,2700,12,1800,5000,23
29,North Dakota,530000,530000,81000,15,15000,17500,3
30,Ohio,19500,19500,1600,8,2800,3000,15
31,Oklahoma,7500,7500,930,12,130,1100,15
32,Oregon,83000,118000,8000,7,6000,21000,18
33,Pennsylvania,19000,20000,980,5,1800,1900,10
34,South Carolina,14500,14500,2200,15,2000,1400,10
35,South Dakota,255000,255000,51000,20,1300,8000,3
36,Tennessee,14000,14000,4500,32,2200,2200,16
37,Texas,126000,133000,11000,8,6500,7000,5
38,Utah,24000,29000,2800,10,3500,1700,6
39,Vermont,7000,7000,120,2,80,490,7
40,Virginia,9000,9000,570,6,350,820,9
41,Washington,85000,97000,21000,22,12000,10000,10
42,West Virginia,10000,10000,1100,11,200,1100,11
43,Wisconsin,63000,63000,6500,10,2400,10000,16
44,Wyoming,24000,27000,3000,11,2500,3500,13
45,Other States,13660,13900,2080,15,320,900,6
46,United States,3175960,(X),434700,14,252550,355330,11

In [12]:
hbcny_h_19q3.to_csv("hbcny_+-_2019_q3.csv", index=False)