In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
hbcny_h_19q1 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_+-_2019_q1_t005.csv"

In [3]:
## Read data and store into df
## Drop the first 5 rows which hold info text
hbcny_h_19q1 = pd.read_csv(hbcny_h_19q1, skiprows=4)

In [4]:
hbcny_h_19q1

,5,h,State,January 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,5,h,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,5,h,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,5,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,u,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,5,d,Alabama,5500,5500,650,12,800,200,4
...,...,...,...,...,...,...,...,...,...,...
61,5,f,1/ January 1 colonies plus all colonies moved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,5,f,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,5,f,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,5,f,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,5,f,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## Drop erroneous first 2 columns
hbcny_h_19q1.drop(hbcny_h_19q1.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_h_19q1.drop(hbcny_h_19q1.index[56:66])

hbcny_h_19q1.head()

,State,January 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,colonies,Maximum,Lost,Percent,Added,Renovated,Percent
1,NaN,NaN,colonies 1/,colonies,lost 2/,colonies,colonies 3/,renovated 4/
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,(number),(number),(number),(percent),(number),(number),(percent)
4,Alabama,5500,5500,650,12,800,200,4

In [6]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_h_19q1 = hbcny_h_19q1.rename(columns={
    "State": "state",
    "January 1": "num_cny_on_day1_qtr",
    "Unnamed: 4": "max_cny",
    "Unnamed: 5": "lost_cny",
    "Unnamed: 6": "pct_lost",
    "Unnamed: 7": "added_cny",
    "Unnamed: 8": "renovated_cny",
    "Unnamed: 9": "pct_renovated"})

hbcny_h_19q1 = hbcny_h_19q1.drop(range(4))

hbcny_h_19q1

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,5500,5500,650,12,800,200,4
5,Arizona,22000,22000,2500,11,430,90,(Z)
6,Arkansas,28000,28000,6500,23,20,20,(Z)
7,California,1140000,1580000,235000,15,83000,86000,5
8,Colorado,5000,7500,320,4,-,-,-
...,...,...,...,...,...,...,...,...
61,1/ January 1 colonies plus all colonies moved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2/ Percent lost is the number of lost colonies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,3/ Defined as any surviving colony that was re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,4/ Percent renovated is the number of renovate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,5/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Drop blank rows
hbcny_h_19q1 = hbcny_h_19q1.dropna()
hbcny_h_19q1.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,5000,7000,1300,19,20,60,1
51,Wisconsin,16500,17000,3700,22,580,100,1
52,Wyoming,6500,9500,250,3,-,-,-
54,Other States 5/,6070,6070,590,10,70,30,(Z)
56,United States,2671470,(X),407700,15,247710,179500,7

In [8]:
## Rename cell 
hbcny_h_19q1.loc[54, "state"] = "Other States"
hbcny_h_19q1.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-77acddc80308>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_h_19q1.loc[54, "state"] = "Other States"

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,5000,7000,1300,19,20,60,1
51,Wisconsin,16500,17000,3700,22,580,100,1
52,Wyoming,6500,9500,250,3,-,-,-
54,Other States,6070,6070,590,10,70,30,(Z)
56,United States,2671470,(X),407700,15,247710,179500,7

In [9]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_h_19q1 = hbcny_h_19q1.replace("(Z)", 0)
hbcny_h_19q1.tail()

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
50,West Virginia,5000,7000,1300,19,20,60,1
51,Wisconsin,16500,17000,3700,22,580,100,1
52,Wyoming,6500,9500,250,3,-,-,-
54,Other States,6070,6070,590,10,70,30,0
56,United States,2671470,(X),407700,15,247710,179500,7

In [10]:
## Assume "-" equals None
## Replace "-" values with None
hbcny_h_19q1 = hbcny_h_19q1.replace({'-': None})
hbcny_h_19q1

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
4,Alabama,5500,5500,650,12,800,200,4
5,Arizona,22000,22000,2500,11,430,90,0
6,Arkansas,28000,28000,6500,23,20,20,0
7,California,1140000,1580000,235000,15,83000,86000,5
8,Colorado,5000,7500,320,4,None,None,None
9,Connecticut,3100,3100,270,9,170,10,0
10,Florida,300000,315000,46000,15,41000,16500,5
11,Georgia,120000,129000,14500,11,19500,8000,6
12,Hawaii,16500,16500,390,2,660,3700,22
13,Idaho,132000,145000,12500,9,4600,1100,1
15,Illinois,9000,9000,2300,26,210,80,1
16,Indiana,6000,6000,710,12,440,280,5
17,Iowa,7500,11500,1600,14,170,140,1
18,Kansas,4500,4500,1500,33,370,110,2
19,Kentucky,3700,4400,890,20,60,30,1
20,Louisiana,49000,51000,3500,7,9000,16000,31
21,Maine,7000,7000,470,7,10,30,0
22,Maryland,8000,8000,2300,29,30,10,0
23,Massachusetts,3800,3800,680,18,60,20,1
24,Michigan,24000,33000,6500,20,None,None,None
26,Minnesota,17000,43000,2200,5,80,470,1
27,Mississippi,26000,29000,2400,8,3800,1700,6
28,Missouri,8500,8500,1100,13,80,60,1
29,Montana,37000,68000,3500,5,1700,1900,3
30,Nebraska,13500,16500,2500,15,None,None,None
31,New Jersey,6000,6000,310,5,130,60,1
32,New Mexico,4800,4800,170,4,None,None,None
33,New York,24000,24000,3400,14,110,80,0
34,North Carolina,10500,14500,1700,12,750,890,6
35,North Dakota,92000,102000,1100,1,None,1300,1
37,Ohio,10500,12500,3500,28,1700,440,4
38,Oklahoma,21000,55000,50,0,20,None,None
39,Oregon,89000,95000,7500,8,8000,1800,2
40,Pennsylvania,15000,15000,2900,19,370,320,2
41,South Carolina,12000,13000,690,5,2000,340,3
42,South Dakota,18500,18500,1100,6,None,None,None
43,Tennessee,6000,7000,1500,21,240,320,5
44,Texas,260000,330000,17000,5,61000,35000,11
45,Utah,8500,11000,1800,16,900,None,None
46,Vermont,6500,6500,260,4,50,0,0
48,Virginia,5500,5500,1100,20,80,110,2
49,Washington,51000,75000,7000,9,5500,2200,3
50,West Virginia,5000,7000,1300,19,20,60,1
51,Wisconsin,16500,17000,3700,22,580,100,1
52,Wyoming,6500,9500,250,3,None,None,None
54,Other States,6070,6070,590,10,70,30,0
56,United States,2671470,(X),407700,15,247710,179500,7

In [11]:
## Reset the index
hbcny_h_19q1 = hbcny_h_19q1.reset_index(drop = True)
hbcny_h_19q1

,state,num_cny_on_day1_qtr,max_cny,lost_cny,pct_lost,added_cny,renovated_cny,pct_renovated
0,Alabama,5500,5500,650,12,800,200,4
1,Arizona,22000,22000,2500,11,430,90,0
2,Arkansas,28000,28000,6500,23,20,20,0
3,California,1140000,1580000,235000,15,83000,86000,5
4,Colorado,5000,7500,320,4,None,None,None
5,Connecticut,3100,3100,270,9,170,10,0
6,Florida,300000,315000,46000,15,41000,16500,5
7,Georgia,120000,129000,14500,11,19500,8000,6
8,Hawaii,16500,16500,390,2,660,3700,22
9,Idaho,132000,145000,12500,9,4600,1100,1
10,Illinois,9000,9000,2300,26,210,80,1
11,Indiana,6000,6000,710,12,440,280,5
12,Iowa,7500,11500,1600,14,170,140,1
13,Kansas,4500,4500,1500,33,370,110,2
14,Kentucky,3700,4400,890,20,60,30,1
15,Louisiana,49000,51000,3500,7,9000,16000,31
16,Maine,7000,7000,470,7,10,30,0
17,Maryland,8000,8000,2300,29,30,10,0
18,Massachusetts,3800,3800,680,18,60,20,1
19,Michigan,24000,33000,6500,20,None,None,None
20,Minnesota,17000,43000,2200,5,80,470,1
21,Mississippi,26000,29000,2400,8,3800,1700,6
22,Missouri,8500,8500,1100,13,80,60,1
23,Montana,37000,68000,3500,5,1700,1900,3
24,Nebraska,13500,16500,2500,15,None,None,None
25,New Jersey,6000,6000,310,5,130,60,1
26,New Mexico,4800,4800,170,4,None,None,None
27,New York,24000,24000,3400,14,110,80,0
28,North Carolina,10500,14500,1700,12,750,890,6
29,North Dakota,92000,102000,1100,1,None,1300,1
30,Ohio,10500,12500,3500,28,1700,440,4
31,Oklahoma,21000,55000,50,0,20,None,None
32,Oregon,89000,95000,7500,8,8000,1800,2
33,Pennsylvania,15000,15000,2900,19,370,320,2
34,South Carolina,12000,13000,690,5,2000,340,3
35,South Dakota,18500,18500,1100,6,None,None,None
36,Tennessee,6000,7000,1500,21,240,320,5
37,Texas,260000,330000,17000,5,61000,35000,11
38,Utah,8500,11000,1800,16,900,None,None
39,Vermont,6500,6500,260,4,50,0,0
40,Virginia,5500,5500,1100,20,80,110,2
41,Washington,51000,75000,7000,9,5500,2200,3
42,West Virginia,5000,7000,1300,19,20,60,1
43,Wisconsin,16500,17000,3700,22,580,100,1
44,Wyoming,6500,9500,250,3,None,None,None
45,Other States,6070,6070,590,10,70,30,0
46,United States,2671470,(X),407700,15,247710,179500,7

In [12]:
hbcny_h_19q1.to_csv("hbcny_+-_2019_q1.csv",index=False)