In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
hbcny_s_19q3 = "../../1_Extract/USDA-HB_Colony_Health_2019_and_2020/hbcny_stress_2019_q3_t009.csv"

In [3]:
## Read data and store into df
## Drop the first 4 rows which hold info text
hbcny_s_19q3 = pd.read_csv(hbcny_s_19q3, skiprows=4)
hbcny_s_19q3.head()

,9,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,9,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,9,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,9,d,Alabama,30.6,24.6,2.9,0.2,9.7,6.4
4,9,d,Arizona,29.0,9.9,2.7,11.4,13.2,0.6

In [4]:
hbcny_s_19q3 = pd.DataFrame(hbcny_s_19q3)
hbcny_s_19q3

,9,h,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,9,h,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,9,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,u,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,9,d,Alabama,30.6,24.6,2.9,0.2,9.7,6.4
4,9,d,Arizona,29.0,9.9,2.7,11.4,13.2,0.6
...,...,...,...,...,...,...,...,...,...
58,9,f,(Z) Less than half of the unit shown.,NaN,NaN,NaN,NaN,NaN,NaN
59,9,f,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
60,9,f,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
61,9,f,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
62,9,f,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## Drop erroneous first 2 columns
hbcny_s_19q3.drop(hbcny_s_19q3.iloc[:, [0, 1]], axis = 1, inplace = True)

## Drop erroneous last few rows
#hbcny_s_19q3.drop(hbcny_s_19q3.index[57:63])
hbcny_s_19q3.head()

,Unnamed: 2,Varroa,Other pests,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,State,mites,and parasites 1/,Diseases 2/,Pesticides,Other 3/,Unknown
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,(percent),(percent),(percent),(percent),(percent),(percent)
3,Alabama,30.6,24.6,2.9,0.2,9.7,6.4
4,Arizona,29.0,9.9,2.7,11.4,13.2,0.6

In [6]:
## Rename column with Row [0] text and then drop Rows [0-3]

hbcny_s_19q3 = hbcny_s_19q3.rename(columns={
    "Unnamed: 2": "state",
    "Varroa": "v_mites",
    "Other pests": "other_pest_para",
    "Unnamed: 5": "diseases",
    "Unnamed: 6": "pesticides",
    "Unnamed: 7": "other",
    "Unnamed: 8": "unknown"})

hbcny_s_19q3 = hbcny_s_19q3.drop(range(3))

hbcny_s_19q3

,state,v_mites,other_pest_para,diseases,pesticides,other,unknown
3,Alabama,30.6,24.6,2.9,0.2,9.7,6.4
4,Arizona,29.0,9.9,2.7,11.4,13.2,0.6
5,Arkansas,53.2,19.7,6.8,50.5,6.9,39.3
6,California,49.0,11.5,8.7,16.0,11.1,3.2
7,Colorado,79.8,12.5,4.8,10.2,9.4,1.0
8,Connecticut,24.3,6.9,2.4,-,3.9,0.5
9,Florida,44.9,20.7,6.3,18.2,11.7,10.8
10,Georgia,52.5,18.6,1.6,25.8,17.1,4.6
11,Hawaii,37.2,39.0,0.3,-,1.3,0.2
12,Idaho,59.9,15.4,21.7,9.9,18.5,0.8
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,35.9,8.3,0.7,2.5,5.5,11.5
15,Indiana,55.7,15.2,3.0,23.1,19.2,1.4
16,Iowa,39.4,7.1,5.8,26.3,27.8,3.6
17,Kansas,67.5,33.8,21.8,23.9,1.2,0.5
18,Kentucky,29.2,17.6,0.4,5.2,7.9,8.6
19,Louisiana,67.1,66.8,0.4,57.0,2.5,2.7
20,Maine,10.1,0.7,0.1,-,0.2,0.1
21,Maryland,26.7,2.7,-,0.3,5.1,1.4
22,Massachusetts,13.0,2.9,0.2,(Z),0.7,7.3
23,Michigan,42.7,16.4,8.7,7.3,2.1,1.5
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Minnesota,54.9,8.2,4.0,13.4,6.6,2.1
26,Mississippi,59.1,45.6,2.4,25.4,4.0,5.1
27,Missouri,18.4,7.1,0.4,0.8,2.1,0.6
28,Montana,28.0,10.0,10.6,6.1,4.1,1.0
29,Nebraska,29.2,2.7,1.8,2.8,7.2,1.9
30,New Jersey,26.1,2.3,0.3,0.2,0.5,0.1
31,New Mexico,39.5,29.1,0.9,-,0.8,-
32,New York,30.7,11.5,1.2,8.2,2.5,3.8
33,North Carolina,26.9,11.3,19.7,4.0,9.7,5.7
34,North Dakota,48.4,10.2,14.7,9.0,23.7,9.3
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Ohio,40.6,23.0,4.2,1.8,5.9,3.9
37,Oklahoma,29.0,1.4,0.1,0.1,4.1,4.4
38,Oregon,35.4,12.8,19.8,15.1,16.6,0.4
39,Pennsylvania,23.4,8.8,1.8,5.0,1.5,5.6
40,South Carolina,44.9,11.6,0.6,16.2,19.6,3.7
41,South Dakota,10.4,3.5,0.3,14.0,4.0,1.5
42,Tennessee,51.4,23.3,0.2,9.1,11.5,1.5
43,Texas,21.9,18.3,4.4,11.5,7.2,2.1
44,Utah,29.4,4.9,5.5,0.2,0.6,4.6
45,Vermont,22.2,4.3,0.7,-,0.5,0.1
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Virginia,37.9,18.3,0.9,1.3,2.7,3.1
48,Washington,47.3,0.9,2.5,4.6,9.4,0.3
49,West Virginia,33.7,10.7,0.7,2.7,6.9,0.3
50,Wisconsin,46.4,20.5,13.9,18.1,6.5,3.9
51,Wyoming,45.7,0.4,3.3,2.2,6.3,2.5
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Other States 4/,11.3,4.5,4.2,7.7,1.4,0.1
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,United States,44.1,13.4,8.5,13.6,11.9,4.5
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,- Represents zero.,NaN,NaN,NaN,NaN,NaN,NaN
58,(Z) Less than half of the unit shown.,NaN,NaN,NaN,NaN,NaN,NaN
59,"1/ Tracheal mites, nosema, hive beetle, wax mo...",NaN,NaN,NaN,NaN,NaN,NaN
60,"2/ Includes American and European foulbrood, c...",NaN,NaN,NaN,NaN,NaN,NaN
61,"3/ Includes weather, starvation, insufficient ...",NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Includes data for States not published in t...,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Drop blank rows
hbcny_s_19q3 = hbcny_s_19q3.dropna()
hbcny_s_19q3.tail()

              state v_mites other_pest_para diseases pesticides other unknown
49    West Virginia    33.7            10.7      0.7        2.7   6.9     0.3
50        Wisconsin    46.4            20.5     13.9       18.1   6.5     3.9
51          Wyoming    45.7             0.4      3.3        2.2   6.3     2.5
53  Other States 4/    11.3             4.5      4.2        7.7   1.4     0.1
55    United States    44.1            13.4      8.5       13.6  11.9     4.5

In [8]:
## Rename cell 
hbcny_s_19q3.loc[53, "state"] = "Other States"
hbcny_s_19q3.tail()

C:\Users\Daniel Ramirez\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-2e708508ec1e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbcny_s_19q3.loc[53, "state"] = "Other States"

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    33.7            10.7      0.7        2.7   6.9     0.3
50      Wisconsin    46.4            20.5     13.9       18.1   6.5     3.9
51        Wyoming    45.7             0.4      3.3        2.2   6.3     2.5
53   Other States    11.3             4.5      4.2        7.7   1.4     0.1
55  United States    44.1            13.4      8.5       13.6  11.9     4.5

In [9]:
## (Z) defined as:
## Less than half of the unit shown (or negligible)
## Replace (Z) values with zero
hbcny_s_19q3 = hbcny_s_19q3.replace("(Z)", 0)
hbcny_s_19q3.tail()

            state v_mites other_pest_para diseases pesticides other unknown
49  West Virginia    33.7            10.7      0.7        2.7   6.9     0.3
50      Wisconsin    46.4            20.5     13.9       18.1   6.5     3.9
51        Wyoming    45.7             0.4      3.3        2.2   6.3     2.5
53   Other States    11.3             4.5      4.2        7.7   1.4     0.1
55  United States    44.1            13.4      8.5       13.6  11.9     4.5

In [10]:
## (X) defined as: N/A
## Assume "-" equals None
## Replace "-" and (X) values with None
hbcny_s_19q3 = hbcny_s_19q3.replace({'-': None})
hbcny_s_19q3 = hbcny_s_19q3.replace({'(X)': None})
hbcny_s_19q3

             state v_mites other_pest_para diseases pesticides other unknown
3          Alabama    30.6            24.6      2.9        0.2   9.7     6.4
4          Arizona    29.0             9.9      2.7       11.4  13.2     0.6
5         Arkansas    53.2            19.7      6.8       50.5   6.9    39.3
6       California    49.0            11.5      8.7       16.0  11.1     3.2
7         Colorado    79.8            12.5      4.8       10.2   9.4     1.0
8      Connecticut    24.3             6.9      2.4       None   3.9     0.5
9          Florida    44.9            20.7      6.3       18.2  11.7    10.8
10         Georgia    52.5            18.6      1.6       25.8  17.1     4.6
11          Hawaii    37.2            39.0      0.3       None   1.3     0.2
12           Idaho    59.9            15.4     21.7        9.9  18.5     0.8
14        Illinois    35.9             8.3      0.7        2.5   5.5    11.5
15         Indiana    55.7            15.2      3.0       23.1  19.2     1.4
16            Iowa    39.4             7.1      5.8       26.3  27.8     3.6
17          Kansas    67.5            33.8     21.8       23.9   1.2     0.5
18        Kentucky    29.2            17.6      0.4        5.2   7.9     8.6
19       Louisiana    67.1            66.8      0.4       57.0   2.5     2.7
20           Maine    10.1             0.7      0.1       None   0.2     0.1
21        Maryland    26.7             2.7     None        0.3   5.1     1.4
22   Massachusetts    13.0             2.9      0.2          0   0.7     7.3
23        Michigan    42.7            16.4      8.7        7.3   2.1     1.5
25       Minnesota    54.9             8.2      4.0       13.4   6.6     2.1
26     Mississippi    59.1            45.6      2.4       25.4   4.0     5.1
27        Missouri    18.4             7.1      0.4        0.8   2.1     0.6
28         Montana    28.0            10.0     10.6        6.1   4.1     1.0
29        Nebraska    29.2             2.7      1.8        2.8   7.2     1.9
30      New Jersey    26.1             2.3      0.3        0.2   0.5     0.1
31      New Mexico    39.5            29.1      0.9       None   0.8    None
32        New York    30.7            11.5      1.2        8.2   2.5     3.8
33  North Carolina    26.9            11.3     19.7        4.0   9.7     5.7
34    North Dakota    48.4            10.2     14.7        9.0  23.7     9.3
36            Ohio    40.6            23.0      4.2        1.8   5.9     3.9
37        Oklahoma    29.0             1.4      0.1        0.1   4.1     4.4
38          Oregon    35.4            12.8     19.8       15.1  16.6     0.4
39    Pennsylvania    23.4             8.8      1.8        5.0   1.5     5.6
40  South Carolina    44.9            11.6      0.6       16.2  19.6     3.7
41    South Dakota    10.4             3.5      0.3       14.0   4.0     1.5
42       Tennessee    51.4            23.3      0.2        9.1  11.5     1.5
43           Texas    21.9            18.3      4.4       11.5   7.2     2.1
44            Utah    29.4             4.9      5.5        0.2   0.6     4.6
45         Vermont    22.2             4.3      0.7       None   0.5     0.1
47        Virginia    37.9            18.3      0.9        1.3   2.7     3.1
48      Washington    47.3             0.9      2.5        4.6   9.4     0.3
49   West Virginia    33.7            10.7      0.7        2.7   6.9     0.3
50       Wisconsin    46.4            20.5     13.9       18.1   6.5     3.9
51         Wyoming    45.7             0.4      3.3        2.2   6.3     2.5
53    Other States    11.3             4.5      4.2        7.7   1.4     0.1
55   United States    44.1            13.4      8.5       13.6  11.9     4.5

In [11]:
## Reset the index
hbcny_s_19q3 = hbcny_s_19q3.reset_index(drop = True)
hbcny_s_19q3

             state v_mites other_pest_para diseases pesticides other unknown
0          Alabama    30.6            24.6      2.9        0.2   9.7     6.4
1          Arizona    29.0             9.9      2.7       11.4  13.2     0.6
2         Arkansas    53.2            19.7      6.8       50.5   6.9    39.3
3       California    49.0            11.5      8.7       16.0  11.1     3.2
4         Colorado    79.8            12.5      4.8       10.2   9.4     1.0
5      Connecticut    24.3             6.9      2.4       None   3.9     0.5
6          Florida    44.9            20.7      6.3       18.2  11.7    10.8
7          Georgia    52.5            18.6      1.6       25.8  17.1     4.6
8           Hawaii    37.2            39.0      0.3       None   1.3     0.2
9            Idaho    59.9            15.4     21.7        9.9  18.5     0.8
10        Illinois    35.9             8.3      0.7        2.5   5.5    11.5
11         Indiana    55.7            15.2      3.0       23.1  19.2     1.4
12            Iowa    39.4             7.1      5.8       26.3  27.8     3.6
13          Kansas    67.5            33.8     21.8       23.9   1.2     0.5
14        Kentucky    29.2            17.6      0.4        5.2   7.9     8.6
15       Louisiana    67.1            66.8      0.4       57.0   2.5     2.7
16           Maine    10.1             0.7      0.1       None   0.2     0.1
17        Maryland    26.7             2.7     None        0.3   5.1     1.4
18   Massachusetts    13.0             2.9      0.2          0   0.7     7.3
19        Michigan    42.7            16.4      8.7        7.3   2.1     1.5
20       Minnesota    54.9             8.2      4.0       13.4   6.6     2.1
21     Mississippi    59.1            45.6      2.4       25.4   4.0     5.1
22        Missouri    18.4             7.1      0.4        0.8   2.1     0.6
23         Montana    28.0            10.0     10.6        6.1   4.1     1.0
24        Nebraska    29.2             2.7      1.8        2.8   7.2     1.9
25      New Jersey    26.1             2.3      0.3        0.2   0.5     0.1
26      New Mexico    39.5            29.1      0.9       None   0.8    None
27        New York    30.7            11.5      1.2        8.2   2.5     3.8
28  North Carolina    26.9            11.3     19.7        4.0   9.7     5.7
29    North Dakota    48.4            10.2     14.7        9.0  23.7     9.3
30            Ohio    40.6            23.0      4.2        1.8   5.9     3.9
31        Oklahoma    29.0             1.4      0.1        0.1   4.1     4.4
32          Oregon    35.4            12.8     19.8       15.1  16.6     0.4
33    Pennsylvania    23.4             8.8      1.8        5.0   1.5     5.6
34  South Carolina    44.9            11.6      0.6       16.2  19.6     3.7
35    South Dakota    10.4             3.5      0.3       14.0   4.0     1.5
36       Tennessee    51.4            23.3      0.2        9.1  11.5     1.5
37           Texas    21.9            18.3      4.4       11.5   7.2     2.1
38            Utah    29.4             4.9      5.5        0.2   0.6     4.6
39         Vermont    22.2             4.3      0.7       None   0.5     0.1
40        Virginia    37.9            18.3      0.9        1.3   2.7     3.1
41      Washington    47.3             0.9      2.5        4.6   9.4     0.3
42   West Virginia    33.7            10.7      0.7        2.7   6.9     0.3
43       Wisconsin    46.4            20.5     13.9       18.1   6.5     3.9
44         Wyoming    45.7             0.4      3.3        2.2   6.3     2.5
45    Other States    11.3             4.5      4.2        7.7   1.4     0.1
46   United States    44.1            13.4      8.5       13.6  11.9     4.5

In [12]:
hbcny_s_19q3.to_csv("hbcny_stress_19q3.csv", index=False)