In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
pesticide_apple = "../../1_Extract/USDA-Pesticide_Use/pesticide_apple.csv"

In [3]:
## Read data and store into df
pesticide_apple = pd.read_csv(pesticide_apple, encoding = 'unicode_escape')
pesticide_apple

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,"APPLES, BEARING - APPLICATIONS, MEASURED IN LB - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB - <b>CV (%)</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / APPLICATION, AVG - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / APPLICATION, AVG - <b>CV (%)</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / YEAR, AVG - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / YEAR, AVG - <b>CV (%)</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN NUMBER, AVG - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN NUMBER, AVG - <b>CV (%)</b>","APPLES, BEARING - TREATED, MEASURED IN PCT OF AREA BEARING, AVG - <b>VALUE</b>","APPLES, BEARING - TREATED, MEASURED IN PCT OF AREA BEARING, AVG - <b>CV (%)</b>"
0,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(D),NaN,(D),NaN,(D),NaN,(D),NaN,(D),NaN
1,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(D),NaN,(D),NaN,(D),NaN,(D),NaN,(D),NaN
2,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(NA),NaN,(NA),NaN,(NA),NaN,1.8,NaN,5,NaN
3,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(NA),NaN,(NA),NaN,(NA),NaN,2.2,NaN,8,NaN
4,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(NA),NaN,(NA),NaN,(NA),NaN,1.7,NaN,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9857,SURVEY,1991,YEAR,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,...,"17,100",NaN,0.78,NaN,0.79,NaN,1,NaN,14,NaN
9858,SURVEY,1991,YEAR,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,...,"1,900",NaN,0.03,NaN,0.03,NaN,1,NaN,44,NaN
9859,SURVEY,1991,YEAR,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,...,"5,400",NaN,0.04,NaN,0.06,NaN,1.5,NaN,56,NaN
9860,SURVEY,1991,YEAR,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,...,"2,100",NaN,0.06,NaN,0.07,NaN,1,NaN,21,NaN
9861,SURVEY,1991,YEAR,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,NaN

In [4]:
## Drop erroneous columns
remove = [0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 19, 21, 23, 25, 27]
pesticide_apple.drop(pesticide_apple.iloc[:, remove], axis = 1, inplace = True)

pesticide_apple.head()

,Year,State,Domain,Domain Category,"APPLES, BEARING - APPLICATIONS, MEASURED IN LB - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / APPLICATION, AVG - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / YEAR, AVG - <b>VALUE</b>","APPLES, BEARING - APPLICATIONS, MEASURED IN NUMBER, AVG - <b>VALUE</b>","APPLES, BEARING - TREATED, MEASURED IN PCT OF AREA BEARING, AVG - <b>VALUE</b>"
0,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AMETOCTRADIN = 119210)",(D),(D),(D),(D),(D)
1,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)",(D),(D),(D),(D),(D)
2,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",(NA),(NA),(NA),1.8,5
3,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS PUMILUS = 6485)",(NA),(NA),(NA),2.2,8
4,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",(NA),(NA),(NA),1.7,16

In [5]:
## Rename columns
pesticide_apple.columns = ["year", "state", "chemical_type", "chemical_name", "chem_app(lbs)", "lb/acre/app(avg)", "lb/acre/yr(avg)", "num_app(avg)", "pct_area_treated(avg)"]

pesticide_apple.head()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AMETOCTRADIN = 119210)",(D),(D),(D),(D),(D)
1,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)",(D),(D),(D),(D),(D)
2,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",(NA),(NA),(NA),1.8,5
3,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS PUMILUS = 6485)",(NA),(NA),(NA),2.2,8
4,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",(NA),(NA),(NA),1.7,16

In [6]:
## Drop blank rows
# pesticide_apple = pesticide_apple.dropna()

In [7]:
## Rename empty "state" cells
pesticide_apple["state"] = pesticide_apple["state"].fillna("Other States")
pesticide_apple.head()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AMETOCTRADIN = 119210)",(D),(D),(D),(D),(D)
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)",(D),(D),(D),(D),(D)
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",(NA),(NA),(NA),1.8,5
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS PUMILUS = 6485)",(NA),(NA),(NA),2.2,8
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",(NA),(NA),(NA),1.7,16

In [8]:
## (D) defined as:
## Withheld to avoid disclosing data for individual farms.

## (NA) defined as:
## Not available. Rate and total applied data items are not available in the standard units for biological active ingredients. Biological active ingredients often consist of microscopic organisms – the concentrations of which are often reported in parts per million, cfu/g (colony forming units/gram) or viable spores/gram.

## Replace (D) and (NA) values with None
pesticide_apple = pesticide_apple.replace({" (NA)": None})
pesticide_apple = pesticide_apple.replace({" (D)": None})
pesticide_apple

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AMETOCTRADIN = 119210)",None,None,None,None,None
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)",None,None,None,None,None
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",None,None,None,1.8,5
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS PUMILUS = 6485)",None,None,None,2.2,8
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",None,None,None,1.7,16
...,...,...,...,...,...,...,...,...,...
9857,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (ETHEPHON = 99801)","17,100",0.78,0.79,1,14
9858,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (GIBBERELLIC ACID = 43801)","1,900",0.03,0.03,1,44
9859,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (NAA = 56002)","5,400",0.04,0.06,1.5,56
9860,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (NAD = 56001)","2,100",0.06,0.07,1,21
9861,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TOTAL)",NaN,NaN,NaN,NaN,82

In [9]:
## (Z) defines as:
## Less than half of rounding unit for data item shown
## Replace (Z) with 0
pesticide_apple = pesticide_apple.replace({" (Z)": 0})
pesticide_apple

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AMETOCTRADIN = 119210)",None,None,None,None,None
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)",None,None,None,None,None
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",None,None,None,1.8,5
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS PUMILUS = 6485)",None,None,None,2.2,8
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",None,None,None,1.7,16
...,...,...,...,...,...,...,...,...,...
9857,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (ETHEPHON = 99801)","17,100",0.78,0.79,1,14
9858,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (GIBBERELLIC ACID = 43801)","1,900",0.03,0.03,1,44
9859,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (NAA = 56002)","5,400",0.04,0.06,1.5,56
9860,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (NAD = 56001)","2,100",0.06,0.07,1,21
9861,1991,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TOTAL)",NaN,NaN,NaN,NaN,82

In [10]:
## Find all 2019 data in col["year"]
pesticide_apple = pesticide_apple[pesticide_apple["year"] == 2019]
pesticide_apple

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AMETOCTRADIN = 119210)",None,None,None,None,None
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)",None,None,None,None,None
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",None,None,None,1.8,5
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS PUMILUS = 6485)",None,None,None,2.2,8
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",None,None,None,1.7,16
...,...,...,...,...,...,...,...,...,...
1106,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-11-TETRADECENOL = 129021)",0,0.002,0.002,1,2
1107,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-8-DODECANOL = 128908)",0,0.001,0.001,1,2
1108,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-8-DODECEN ACETATE = 128906)",100,0.03,0.031,1,2
1109,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-9-TETRADECEN-1-YL ACETATE ...",0,0.011,0.011,1,2
1110,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (ZINC PHOSPHIDE = 88601)","1,200",0.199,0.223,1.1,3

In [11]:
## Title case the "state" column
pesticide_apple["state"] = pesticide_apple["state"].str.title()
pesticide_apple.tail()

<ipython-input-11-a911facc89fc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pesticide_apple["state"] = pesticide_apple["state"].str.title()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
1106,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-11-TETRADECENOL = 129021)",0,0.002,0.002,1,2
1107,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-8-DODECANOL = 128908)",0,0.001,0.001,1,2
1108,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-8-DODECEN ACETATE = 128906)",100,0.03,0.031,1,2
1109,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-9-TETRADECEN-1-YL ACETATE ...",0,0.011,0.011,1,2
1110,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (ZINC PHOSPHIDE = 88601)","1,200",0.199,0.223,1.1,3

In [12]:
## Drop blank rows
pesticide_apple = pesticide_apple.dropna()
pesticide_apple.tail()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
1106,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-11-TETRADECENOL = 129021)",0,0.002,0.002,1,2
1107,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-8-DODECANOL = 128908)",0,0.001,0.001,1,2
1108,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-8-DODECEN ACETATE = 128906)",100,0.03,0.031,1,2
1109,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (Z-9-TETRADECEN-1-YL ACETATE ...",0,0.011,0.011,1,2
1110,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (ZINC PHOSPHIDE = 88601)","1,200",0.199,0.223,1.1,3

In [13]:
## Reset the index
# pesticide_apple = pesticide_apple.reset_index(drop = True)
# pesticide_apple

In [14]:
pesticide_apple.to_csv("../pesticide_apple_19.csv",index=False)