In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
pesticide_blueberry = "../../1_Extract/USDA-Pesticide_Use/pesticide_blueberry.csv"

In [3]:
## Read data and store into df
pesticide_blueberry = pd.read_csv(pesticide_blueberry)
pesticide_blueberry

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,"BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB - <b>CV (%)</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / APPLICATION, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / APPLICATION, AVG - <b>CV (%)</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / YEAR, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / YEAR, AVG - <b>CV (%)</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN NUMBER, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN NUMBER, AVG - <b>CV (%)</b>","BLUEBERRIES, BEARING - TREATED, MEASURED IN PCT OF AREA BEARING, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - TREATED, MEASURED IN PCT OF AREA BEARING, AVG - <b>CV (%)</b>"
0,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,"13,800",NaN,0.194,NaN,0.363,NaN,1.9,NaN,49,NaN
1,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(NA),NaN,(NA),NaN,(NA),NaN,(D),NaN,(D),NaN
2,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(NA),NaN,(NA),NaN,(NA),NaN,1.2,NaN,2,NaN
3,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,(NA),NaN,(NA),NaN,(NA),NaN,2,NaN,10,NaN
4,SURVEY,2019,YEAR,NaN,REGION : MULTI-STATE,NaN,NaN,NaN,NaN,NaN,...,"5,900",NaN,1.951,NaN,2.754,NaN,1.4,NaN,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3708,SURVEY,1991,YEAR,NaN,STATE,OREGON,41.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.8,NaN,33,NaN
3709,SURVEY,1991,YEAR,NaN,STATE,OREGON,41.0,NaN,NaN,NaN,...,600,NaN,0.74,NaN,0.9,NaN,1.2,NaN,43,NaN
3710,SURVEY,1991,YEAR,NaN,STATE,OREGON,41.0,NaN,NaN,NaN,...,100,NaN,0.91,NaN,1.51,NaN,1.7,NaN,6,NaN
3711,SURVEY,1991,YEAR,NaN,STATE,OREGON,41.0,NaN,NaN,NaN,...,"9,000",NaN,9.87,NaN,20.42,NaN,2.1,NaN,28,NaN
3712,SURVEY,1991,YEAR,NaN,STATE,OREGON,41.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73,NaN

In [4]:
## Drop erroneous columns
remove = [0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 19, 21, 23, 25, 27]
pesticide_blueberry.drop(pesticide_blueberry.iloc[:, remove], axis = 1, inplace = True)

pesticide_blueberry.head()

,Year,State,Domain,Domain Category,"BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / APPLICATION, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN LB / ACRE / YEAR, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - APPLICATIONS, MEASURED IN NUMBER, AVG - <b>VALUE</b>","BLUEBERRIES, BEARING - TREATED, MEASURED IN PCT OF AREA BEARING, AVG - <b>VALUE</b>"
0,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)","13,800",0.194,0.363,1.9,49
1,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFAC F...",(NA),(NA),(NA),(D),(D)
2,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",(NA),(NA),(NA),1.2,2
3,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",(NA),(NA),(NA),2,10
4,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BASIC COPPER SULFATE = 8...","5,900",1.951,2.754,1.4,3

In [5]:
## Rename columns
pesticide_blueberry.columns = ["year", "state", "chemical_type", "chemical_name", "chem_app(lbs)", "lb/acre/app(avg)", "lb/acre/yr(avg)", "num_app(avg)", "pct_area_treated(avg)"]

pesticide_blueberry.head()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)","13,800",0.194,0.363,1.9,49
1,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFAC F...",(NA),(NA),(NA),(D),(D)
2,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",(NA),(NA),(NA),1.2,2
3,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",(NA),(NA),(NA),2,10
4,2019,NaN,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BASIC COPPER SULFATE = 8...","5,900",1.951,2.754,1.4,3

In [6]:
## Drop blank rows
# pesticide_blueberry = pesticide_blueberry.dropna()

In [7]:
## Rename empty "state" cells
pesticide_blueberry["state"] = pesticide_blueberry["state"].fillna("Other States")
pesticide_blueberry.head()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)","13,800",0.194,0.363,1.9,49
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFAC F...",(NA),(NA),(NA),(D),(D)
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",(NA),(NA),(NA),1.2,2
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",(NA),(NA),(NA),2,10
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BASIC COPPER SULFATE = 8...","5,900",1.951,2.754,1.4,3

In [8]:
## (D) defined as:
## Withheld to avoid disclosing data for individual farms.

## (NA) defined as:
## Not available. Rate and total applied data items are not available in the standard units for biological active ingredients. Biological active ingredients often consist of microscopic organisms – the concentrations of which are often reported in parts per million, cfu/g (colony forming units/gram) or viable spores/gram.

## Replace (D) and (NA) values with None
pesticide_blueberry = pesticide_blueberry.replace({" (NA)": None})
pesticide_blueberry = pesticide_blueberry.replace({" (D)": None})
pesticide_blueberry

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)","13,800",0.194,0.363,1.9,49
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFAC F...",None,None,None,None,None
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",None,None,None,1.2,2
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",None,None,None,2,10
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BASIC COPPER SULFATE = 8...","5,900",1.951,2.754,1.4,3
...,...,...,...,...,...,...,...,...,...
3708,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (BT SUBSP ISRAELENSIS =...",NaN,NaN,NaN,1.8,33
3709,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (DIAZINON = 57801)",600,0.74,0.9,1.2,43
3710,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (MALATHION = 57701)",100,0.91,1.51,1.7,6
3711,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (PETROLEUM DISTILLATE =...","9,000",9.87,20.42,2.1,28
3712,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (TOTAL)",NaN,NaN,NaN,NaN,73

In [9]:
## (Z) defined as:
## Less than half of rounding unit for data item shown
## Replace (Z) with 0
pesticide_blueberry = pesticide_blueberry.replace({" (Z)": 0})
pesticide_blueberry

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)","13,800",0.194,0.363,1.9,49
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFAC F...",None,None,None,None,None
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",None,None,None,1.2,2
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",None,None,None,2,10
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BASIC COPPER SULFATE = 8...","5,900",1.951,2.754,1.4,3
...,...,...,...,...,...,...,...,...,...
3708,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (BT SUBSP ISRAELENSIS =...",NaN,NaN,NaN,1.8,33
3709,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (DIAZINON = 57801)",600,0.74,0.9,1.2,43
3710,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (MALATHION = 57701)",100,0.91,1.51,1.7,6
3711,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (PETROLEUM DISTILLATE =...","9,000",9.87,20.42,2.1,28
3712,1991,OREGON,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (TOTAL)",NaN,NaN,NaN,NaN,73

In [10]:
## Find all 2019 data in col["year"]
pesticide_blueberry = pesticide_blueberry[pesticide_blueberry["year"] == 2019]
pesticide_blueberry

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
0,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (AZOXYSTROBIN = 128810)","13,800",0.194,0.363,1.9,49
1,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFAC F...",None,None,None,None,None
2,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS AMYLOLIQUEFACIE...",None,None,None,1.2,2
3,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BACILLUS SUBTILIS = 6479)",None,None,None,2,10
4,2019,Other States,"CHEMICAL, FUNGICIDE","CHEMICAL, FUNGICIDE: (BASIC COPPER SULFATE = 8...","5,900",1.951,2.754,1.4,3
...,...,...,...,...,...,...,...,...,...
655,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (REYNOUTRIA SACHALINE = 55809)",None,None,None,None,None
656,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TETRADECEN-1-OL (Z) = 128980)",None,None,None,None,None
657,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TOTAL)","21,000",NaN,NaN,NaN,75
658,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TRICHODERMA ASPERELLUM STRAI...",None,None,None,None,None
659,2019,WASHINGTON,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TRICHODERMA GAMISII STRAIN I...",None,None,None,None,None

In [11]:
## Title case the "state" column
pesticide_blueberry["state"] = pesticide_blueberry["state"].str.title()
pesticide_blueberry.tail()

<ipython-input-11-b2e57bcdf46c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pesticide_blueberry["state"] = pesticide_blueberry["state"].str.title()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
655,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (REYNOUTRIA SACHALINE = 55809)",None,None,None,None,None
656,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TETRADECEN-1-OL (Z) = 128980)",None,None,None,None,None
657,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TOTAL)","21,000",NaN,NaN,NaN,75
658,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TRICHODERMA ASPERELLUM STRAI...",None,None,None,None,None
659,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (TRICHODERMA GAMISII STRAIN I...",None,None,None,None,None

In [12]:
## Drop blank rows
pesticide_blueberry = pesticide_blueberry.dropna()
pesticide_blueberry.tail()

,year,state,chemical_type,chemical_name,chem_app(lbs),lb/acre/app(avg),lb/acre/yr(avg),num_app(avg),pct_area_treated(avg)
634,2019,Washington,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (PHOSMET = 59201)","10,900",0.824,1.164,1.4,65
636,2019,Washington,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (SPINETORAM = 110007)",400,0.091,0.092,1,32
639,2019,Washington,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (THIAMETHOXAM = 60109)",100,0.091,0.107,1.2,7
641,2019,Washington,"CHEMICAL, INSECTICIDE","CHEMICAL, INSECTICIDE: (ZETA-CYPERMETHRIN = 12...",500,0.025,0.054,2.1,59
647,2019,Washington,"CHEMICAL, OTHER","CHEMICAL, OTHER: (CUPRAMMONIUM ACETATE = 36011)","9,100",0.577,0.961,1.7,66

In [13]:
## Reset the index
# pesticide_blueberry = pesticide_blueberry.reset_index(drop = True)
# pesticide_blueberry

In [14]:
pesticide_blueberry.to_csv("../pesticide_blueberry_19.csv",index=False)