In [1]:
## Dependencies and setup
import pandas as pd

In [2]:
## Load data files
honey_owp_17 = "../../1_Extract/USDA-Honey_Ops_w_Prod_xCounty_2017/quick_stats_owp_xcounty_17.csv"

In [3]:
## Read data and store into df
honey_owp_17 = pd.read_csv(honey_owp_17)
honey_owp_17 = pd.DataFrame(honey_owp_17)
honey_owp_17.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,COUNTY,ALABAMA,1,BLACK BELT,40,AUTAUGA,...,NaN,NaN,0,NaN,HONEY,HONEY - OPERATIONS WITH PRODUCTION,TOTAL,NOT SPECIFIED,8,(H)
1,CENSUS,2017,YEAR,NaN,COUNTY,ALABAMA,1,BLACK BELT,40,BULLOCK,...,NaN,NaN,0,NaN,HONEY,HONEY - OPERATIONS WITH PRODUCTION,TOTAL,NOT SPECIFIED,2,(H)
2,CENSUS,2017,YEAR,NaN,COUNTY,ALABAMA,1,BLACK BELT,40,DALLAS,...,NaN,NaN,0,NaN,HONEY,HONEY - OPERATIONS WITH PRODUCTION,TOTAL,NOT SPECIFIED,7,(H)
3,CENSUS,2017,YEAR,NaN,COUNTY,ALABAMA,1,BLACK BELT,40,ELMORE,...,NaN,NaN,0,NaN,HONEY,HONEY - OPERATIONS WITH PRODUCTION,TOTAL,NOT SPECIFIED,11,(H)
4,CENSUS,2017,YEAR,NaN,COUNTY,ALABAMA,1,BLACK BELT,40,GREENE,...,NaN,NaN,0,NaN,HONEY,HONEY - OPERATIONS WITH PRODUCTION,TOTAL,NOT SPECIFIED,9,(H)

In [4]:
## Drop erroneous columns
honey_owp_17.drop(honey_owp_17.iloc[:, [0, 1, 2, 3, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18]], axis = 1, inplace = True)
honey_owp_17.head()

     State Ag District   County  Value CV (%)
0  ALABAMA  BLACK BELT  AUTAUGA      8    (H)
1  ALABAMA  BLACK BELT  BULLOCK      2    (H)
2  ALABAMA  BLACK BELT   DALLAS      7    (H)
3  ALABAMA  BLACK BELT   ELMORE     11    (H)
4  ALABAMA  BLACK BELT   GREENE      9    (H)

In [5]:
## Rename columns
honey_owp_17 = honey_owp_17.rename(columns={
    "State": "state",
    "Ag District": "ag_dist",
    "County": "county",
    "Value": "num_owp",
    "CV (%)": "cv"
})
honey_owp_17

        state     ag_dist    county  num_owp    cv
0     ALABAMA  BLACK BELT   AUTAUGA        8   (H)
1     ALABAMA  BLACK BELT   BULLOCK        2   (H)
2     ALABAMA  BLACK BELT    DALLAS        7   (H)
3     ALABAMA  BLACK BELT    ELMORE       11   (H)
4     ALABAMA  BLACK BELT    GREENE        9   (H)
...       ...         ...       ...      ...   ...
2714  WYOMING   SOUTHEAST    PLATTE        4  76.0
2715  WYOMING        WEST   LINCOLN       15  76.0
2716  WYOMING        WEST  SUBLETTE        2  76.0
2717  WYOMING        WEST     TETON        1  76.0
2718  WYOMING        WEST     UINTA        4  76.0

[2719 rows x 5 columns]

In [6]:
## (H) defined as:
## Coefficient of variation or generalized coefficient of variation is greater than or equal to 99.95 percent or the standard error is greater than or equal to 99.95 percent of the mean.
## Replace (H) with 99.95
honey_owp_17 = honey_owp_17.replace("(H)", 99.95)
honey_owp_17.head()

     state     ag_dist   county  num_owp     cv
0  ALABAMA  BLACK BELT  AUTAUGA        8  99.95
1  ALABAMA  BLACK BELT  BULLOCK        2  99.95
2  ALABAMA  BLACK BELT   DALLAS        7  99.95
3  ALABAMA  BLACK BELT   ELMORE       11  99.95
4  ALABAMA  BLACK BELT   GREENE        9  99.95

In [7]:
## (L) defined as:
## Coefficient of variation or generalized coefficient of variation is less than 0.05 percent or the standard error is less than 0.05 percent of the mean.
## Replace (L) with 0.05
honey_owp_17 = honey_owp_17.replace("(L)", 0.05)
honey_owp_17

        state     ag_dist    county  num_owp     cv
0     ALABAMA  BLACK BELT   AUTAUGA        8  99.95
1     ALABAMA  BLACK BELT   BULLOCK        2  99.95
2     ALABAMA  BLACK BELT    DALLAS        7  99.95
3     ALABAMA  BLACK BELT    ELMORE       11  99.95
4     ALABAMA  BLACK BELT    GREENE        9  99.95
...       ...         ...       ...      ...    ...
2714  WYOMING   SOUTHEAST    PLATTE        4   76.0
2715  WYOMING        WEST   LINCOLN       15   76.0
2716  WYOMING        WEST  SUBLETTE        2   76.0
2717  WYOMING        WEST     TETON        1   76.0
2718  WYOMING        WEST     UINTA        4   76.0

[2719 rows x 5 columns]

In [8]:
honey_owp_17.to_csv("../honey_owp_xcounty_17.csv", index = False)

## Sum owp by state

In [9]:
## Group by state to sum num_owp
xstate = honey_owp_17.groupby(["state"]).sum()
xstate = xstate.reset_index()
xstate.head()

        state  num_owp
0     ALABAMA      686
1      ALASKA       86
2     ARIZONA      162
3    ARKANSAS      565
4  CALIFORNIA     1227

In [10]:
xstate.to_csv("../honey_owp_xstate_17.csv", index = False)